.animation-topToDown,
body.loaded #fsvs-body > div.active-slide .tiles .animation-topToDown {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:translate3d(0,-120%,0);
}

.animation-DownToTop,
body.loaded #fsvs-body > div.active-slide .tiles .animation-DownToTop {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:translate3d(0,120%,0);
}

.animation-DownToTop2,
body.loaded #fsvs-body > div.active-slide .tiles .animation-DownToTop2 {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:translate3d(0,20%,0);
}

.animation-DownToTop3,
body.loaded #fsvs-body > div.active-slide .tiles .animation-DownToTop3 {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:translate3d(0,50%,0);
}

.animation-topToDown2,
body.loaded #fsvs-body > div.active-slide .tiles .animation-topToDown2 {
opacity:0;
transition:transform .3s .1s ease-out, opacity .3s .1s ease-out;
transform:translate3d(0,-10%,0);
}

.animation-topToDown3,
body.loaded #fsvs-body > div.active-slide .tiles .animation-topToDown3 {
opacity:0;
transition:transform .3s .1s ease-out, opacity .3s .1s ease-out;
transform:translate3d(0,-50%,0);
}

.animation-topToDown4,
body.loaded #fsvs-body > div.active-slide .tiles .animation-topToDown4 {
opacity:0;
transition:transform .3s .1s ease-out, opacity .3s .1s ease-out;
transform:translate3d(0,-90%,0);
}

.animation-left,
body.loaded #fsvs-body > div.active-slide .tiles .animation-left {
opacity:0;
transition:transform .3s .1s ease-out, opacity .3s .1s ease-out;
transform:translate3d(-100%,0,0);
}

.animation-right,
body.loaded #fsvs-body > div.active-slide .tiles .animation-right {
opacity:0;
transition:transform .3s .1s ease-out, opacity .3s .1s ease-out;
transform:translate3d(100%,0,0);
}
.animation-line,
body.loaded #fsvs-body > div.active-slide .tiles .animation-line {
    width:0;
    transition: width .9s ease-out;
}

.animation-fade,
body.loaded #fsvs-body > div.active-slide .tiles .animation-fade {
opacity:0;
transition:opacity .3s .1s ease-out;
}
.cc-cookies {opacity:0;transition:opacity .4s .2s ease-out;transition-delay:3.4s!important;}

.animation-delay-1 {
transition-delay:.1s!important;
}

.animation-delay-2 {
transition-delay:.2s!important;
}

.animation-delay-4 {
transition-delay:.4s!important;
}

.animation-delay-3 {
transition-delay:.3s!important;
}

.animation-delay-5 {
transition-delay:.5s!important;
}

.animation-delay-6 {
transition-delay:.6s!important;
}

.animation-delay-7 {
transition-delay:.7s;
}

.animation-delay-8 {
transition-delay:.8s!important;
}

.animation-delay-9 {
transition-delay:.9s;
}

.animation-delay-10 {
transition-delay:1s;
}

.animation-delay-11 {
transition-delay:1.1s;
}

.animation-delay-12 {
transition-delay:1.2s!important;
}

.animation-delay-13 {
transition-delay:1.3s!important;
}

.animation-delay-14 {
transition-delay:1.4s!important;
}

.animation-delay-16 {
transition-delay:1.6s!important;
}

.animation-delay-18 {
transition-delay:1.8s;
}

.animation-delay-20 {
transition-delay:2s;
}

.animation-delay-22 {
transition-delay:2.2s;
}

.animation-scale-1 {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:scale(1.8), translate3d(0,0,0);
}

.animation-scale-2 {
opacity:0;
transition:transform .4s .2s ease-out, opacity .4s .2s ease-out;
transform:scale(4.8);
}


body.loaded #fullpage > div.active .animation-line,
body.loaded #fullpage > div.active .animation-topToDown,
body.loaded #fullpage > div.active .animation-DownToTop,
body.loaded #fullpage > div.active .animation-DownToTop2,
body.loaded #fullpage > div.active .animation-DownToTop3,
body.loaded #fullpage > div.active .animation-topToDown2,
body.loaded #fullpage > div.active .animation-topToDown3,
body.loaded #fullpage > div.active .animation-topToDown4,
body.loaded #fullpage > div.active .animation-scale-1,
body.loaded #fullpage > div.active .animation-scale-2,
body.loaded #fullpage > div.active .animation-left,
body.loaded #fullpage > div.active .animation-right,
body.loaded #fullpage > div.active .animation-fade,

body.loaded #fsvs-body > div.active .animation-line,
body.loaded #fsvs-body > div.active .animation-topToDown,
body.loaded #fsvs-body > div.active .animation-DownToTop,
body.loaded #fsvs-body > div.active .animation-DownToTop2,
body.loaded #fsvs-body > div.active .animation-DownToTop3,
body.loaded #fsvs-body > div.active .animation-topToDown2,
body.loaded #fsvs-body > div.active .animation-topToDown3,
body.loaded #fsvs-body > div.active .animation-topToDown4,
body.loaded #fsvs-body > div.active .animation-scale-1,
body.loaded #fsvs-body > div.active .animation-scale-2,
body.loaded #fsvs-body > div.active .animation-left,
body.loaded #fsvs-body > div.active .animation-right,
body.loaded #fsvs-body > div.active .animation-fade,

body.loaded .team-member-wrapper .animation-line,
body.loaded .team-member-wrapper .animation-topToDown,
body.loaded .team-member-wrapper .animation-DownToTop,
body.loaded .team-member-wrapper .animation-DownToTop2,
body.loaded .team-member-wrapper .animation-DownToTop3,
body.loaded .team-member-wrapper .animation-topToDown2,
body.loaded .team-member-wrapper .animation-topToDown3,
body.loaded .team-member-wrapper .animation-topToDown4,
body.loaded .team-member-wrapper .animation-scale-1,
body.loaded .team-member-wrapper .animation-scale-2,
body.loaded .team-member-wrapper .animation-left,
body.loaded .team-member-wrapper .animation-right,
body.loaded .team-member-wrapper .animation-fade,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-line,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-topToDown,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-DownToTop,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-DownToTop2,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-DownToTop3,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-topToDown2,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-topToDown3,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-topToDown4,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-scale-1,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-scale-2,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-left,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-right,
body.loaded #fsvs-body > div.active-slide .tiles .hover-link:hover .animation-fade {
opacity:1;
transform:translate3d(0,0,0);
}

body.loaded .cc-cookies{opacity:0.5;transform:translate3d(0,0,0);}

body.loaded #fsvs-body > div.active-slide .tiles .animation-line,
body.loaded #fullpage > div.active .animation-line{width:97px;}


.blink:hover {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

50% {
opacity:0.3;
}

100% {
opacity:1.0;
}
