@import 'inc/fonts.css';


body {
    background-color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;

}

.orientation {
    display: none;
}

/* FSVS */

.container {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.container:after {
    display: table;
    clear: both;
    content: "";
}

html.fsvs {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/**/

html.fsvs #fsvs-body {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;


}

html.fsvs #fsvs-body > * {
    overflow: hidden;
    width: 100%;
    height: 100%;


}

html.fsvs #fsvs-pagination {
    position: fixed;
    top: 50%;
    right: -100px;
    z-index: 2;
    margin: 0;
    padding: 8px 4px;
    width: 32px;
    height: auto;
}

html.fsvs #fsvs-pagination li {
    margin: 0 0 2px 0;
    width: 25px;
    height: 25px;
    list-style: none;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

html.fsvs #fsvs-pagination li > span {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 100%;
    line-height: 15px;
}

html.fsvs #fsvs-pagination li > span > span {
    display: block;
    margin: 2px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #FFF;
    line-height: 7px;
}

html.fsvs #fsvs-pagination li.active > span {
    border: 2px solid white;
}

html.fsvs #fsvs-pagination li.active > span > span {
    background: white;
}

html.fsvs #fsvs-pagination li:last-child {
    margin: 0;
}

/* DEMO */

*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

#page-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display:         flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    background:#fff !important;
    transition: opacity .3s .6s linear;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    justify-items: center;
}

body.loaded #page-loader {
    opacity: 0;
    -webkit-animation: move .6s .6s linear;
            animation: move .6s .6s linear;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@keyframes move {
    from {
        z-index: 10;
    }
    to {
        z-index: 0;
    }
}

@-webkit-keyframes move {
    from {
        z-index: 10;
    }
    to {
        z-index: 0;
    }
}

.loading-gif {
    height: 150px;
}

/* SHB CONTENT */

.center-wrapper {
    position: relative;
    min-width: 990px;
    width: 990px;
}

p > b {
    font-weight: 700;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* GENERAL */

.menu-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    width: 130px !important;
    height: 130px !important;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    line-height: 215px;
    transform: rotateZ(45deg) translate3d(0, -70%, 0);
}

.menu-button.home-animation {
    background-color: transparent;
    color: #FFF !important;
}

.menu-button:hover {
    color: #68FB98 !important;
}

.menu-button span {
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    display: block;
    margin: auto;
    width: 2px;
    height: 26px;
    background-color: #68FB98;
    transition: transform .2s ease-out;
}

.menu-button:hover span {
  -webkit-animation: passing 1s linear infinite;
  animation: passing 1s linear infinite;
}

#fsvs-body > div {
    position: relative;
    display:         flex;
    display: -webkit-flex;
    background-color: #FFF;
    color: #0A0A0A;
    font-size: 13px;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    justify-items: center;
}

#fsvs-body > div:first-of-type {
    transition: transform .6s .3s ease-out;
    transform: scale(1.1);
}

body.loaded #fsvs-body > div:first-of-type.active-slide {
    transform: scale(1);
}



.img-wrap {
    position: relative;
    width: 80.0390625%;
    height: 80.125%;
    opacity: 0;
    transition: opacity .6s .3s ease-out, transform .6s .3s ease-out;
    transform: translate3d(0, -20%, 0);
}

body.loaded #fsvs-body > div:first-of-type.active-slide .img-wrap {
    opacity: 1;
    transform: translate3d(0, 0, 0);

}

.portada-title {
    position: absolute;
    top: 0;
    right: 9%;
    bottom: 0;
    margin: auto;
    max-width: 50%;
    height: 58%;
    opacity: 0;
    transition: opacity .6s .3s ease-out, transform .6s .3s ease-out;
    transform: translate3d(20%, 0, 0);
}

.left-align {
    right: auto;
    left: 7%;
}

body.loaded #fsvs-body > div:first-of-type.active-slide .portada-title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.down {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 39px;
    height: 110px;
    text-align: center;
}

.down a {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    height: 81px;
    opacity: 0;
    transition: opacity .6s .9s ease-out, transform .6s .9s ease-out, padding .15s linear, height .1s linear;
    transform: translate3d(0, -50%, 0);
}

body.loaded #fsvs-body > div:first-of-type.active-slide .down a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.down a:hover {
    padding-top: 10px;
    height: 91px;
}

.down a img {
    margin: auto;
    height: 100%;
}

.down > span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #FFF;
}

.lang-switch {
    position: absolute;
    top: 26px;
    left: 30px;
    z-index: 2;
    color: white;
    font-size: 12px;
    line-height: 24px;
    opacity: 0;
    transition: opacity .3s 3.5s ease-out, transform .3s 3.5s ease-out;
}
.lang-switch span{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  font-weight: 300;
}
.lang-switch.menu-lang {
    color: #522E92;
}
.lang-switch a {
    position: relative;
    display: inline-block;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .2s;
            transition: color .2s;
    font-style: italic;

}

.lang-switch a .border{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px auto -2px auto;
    width: 0;
    height: 2px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}

.lang-switch a:hover .border,
.lang-switch a.selected .border {
    width: 100%;
}

body.loaded .lang-switch {
    opacity: 1;
}




/* - COMPONENETS - */

/* DRAGDEALER */

/* Navigation */

.nav{
  width:100%;
  position: absolute;
  z-index:2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);


}

.nav .prev{
    float:left;
    margin-left: -1px;

}
.nav .next{
    float:right;

}
.nav .prev img,
.nav .next img{
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.nav .prev:hover img,
.nav .next:hover img{
    opacity: 1;

}



/** FOOD DRINKS **/

.fooddrinks-content .name > p{
    content: attr(data-hover);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    position: relative;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: rgba(68, 25, 132, 1);
    width:100%;
    height:100px;
    position: relative;
    left: 0%;
    top: 25%;
    transform: translate(-0%, -50%);
    -webkit-transform: translate(-0%, -50%);
}

.fooddrinks-content span.portrait-img .name{
    height: calc(80% - 0px) !important;
}
.fooddrinks-content span.portrait-img .name p{
    top: 20% !important;
}

.fooddrinks-content .name > p > span{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}


.fooddrinks-content .image img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;

}

.fooddrinks-content .image:hover img{
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}



.fooddrinks-content > div:first-of-type {
    background: url("../img/fooddrinks/bg-portada.jpg") center center/cover;
}

.fooddrinks-content .img-wrap {
    background: url("../img/fooddrinks/portada.jpg") center center/cover;
}

.fooddrinks-content > div:nth-of-type(2),
.fooddrinks-content > div:nth-of-type(4) {
    display: -webkit-flex;
    display:         flex;
    background: url("../img/fooddrinks/bg-slide-2.jpg") center center/cover;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.fooddrinks-content > div:nth-of-type(5) {
    background: url("../img/fooddrinks/bg-slide-5.jpg") center center/cover;
}

.fooddrinks-content .bottom{
  display: block;
}

.fooddrinks-content > div:nth-of-type(2) h1,
.fooddrinks-content > div:nth-of-type(5) h1,
.activities-content > div:nth-of-type(5) h1,
.about-content > div:nth-of-type(5) h1 {
    margin: 55px auto 10px auto;
    width: 640px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    line-height: 43px;
}



.fooddrinks-content > div h1 .top, .fooddrinks-content > div h1 .bottom,
.fooddrinks-content > div h1 .top, .fooddrinks-content > div h1 .bottom,
.activities-content > div h1 .top, .activities-content > div h1 .bottom,
.about-content > div h1 .top, .about-content > div h1 .bottom {
  line-height: 76px !important
}

.activities-content > div:nth-of-type(5) h1 {
    width: 550px;
}

.activities-content .location p{
    text-align: center !important;
}
.activities-content .location p a{
    text-transform: uppercase;
    text-align: center !important;
    font-size:18px;
    font-weight: 700;
    line-height: 24px !important;

}
.activities-content .location p a span{
    font-size:19px;
    font-weight: 900 !important;
}

.about-content > div:nth-of-type(5) h1 span,
.about-content > div:nth-of-type(5) h1 span.bottom {
    font-size: 99px !important;
}

.activities-content .line,
.activities-content .bottom{
  display: block;
}

.about-content > div:nth-of-type(5) h1 span.top {
    font-size: 80px;
}

.fooddrinks-content > div:nth-of-type(2) h2 {
    margin: 0 auto 55px auto;
    width: 617px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
}

.fooddrinks-content > div:nth-of-type(2) .line,
.fooddrinks-content > div:nth-of-type(4) .line,
.fooddrinks-content > div:nth-of-type(5) .line,
.activities-content > div:nth-of-type(5) .line,
.about-content > div:nth-of-type(5) .line {
    display: block;
    margin: auto;
    /*width: 200px;
    height: 6px;*/
    width: 135px;
    height: 4px;
    background-color: #68FB98;
}



.fooddrinks-content > div:nth-of-type(3),
.fooddrinks-content > div:nth-of-type(4) {
    display: -webkit-flex;
    display:         flex;
    background: url("../img/fooddrinks/bg-food.jpg") center center/cover;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.fooddrinks-content > div:nth-of-type(4) {
    background: url("../img/fooddrinks/bg-drinks.jpg") center center/cover;
}

.fooddrinks-content > div:nth-of-type(3) h1,
.fooddrinks-content > div:nth-of-type(4) h1 {
    position: absolute;
    bottom: 0;
    left: -15px;
    height: 137px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 184px;
    opacity: .06;
}

.fooddrinks-content > div:nth-of-type(4) h1 {
    top: -21px;
    right: 10.5%;
    bottom: auto;
    left: auto;
    height: auto;
    color: #FFF;
    font-size: 137px;
}

@media only screen and (min-width: 1600px) {
    .fooddrinks-content > div:nth-of-type(3) h1 {
        height: 226px;
        font-size: 300px;
    }

    .fooddrinks-content > div:nth-of-type(4) h1 {
        top: -31px;
        font-size: 180px;
    }
    .weather img{
        margin:0 auto;
        width:110px;
    }


}

#foods-carousel,
#drinks-carousel,
#activities-carousel,
#special-carousel,
#team-carousel {
    position: relative;
    overflow: hidden;
    padding-left: 10%;
    width: 100%;
    height: 63.8125%;
    border-radius: 0;
}

#activities-carousel {
    min-height: 420px;
    max-height: 445px;
    height: 51.4375%;
}

#special-carousel {
    max-height: 556px;
    height: 69.5%;
}

#team-carousel {
    padding-left: 0;
    max-height: 466px;
    height: 58.25%;
}

#foods-carousel .handle,
#drinks-carousel .handle,
#activities-carousel .handle,
#special-carousel .handle,
#team-carousel .handle {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10%;
    min-width: 100%;
    width: 200%;
    height: 100%;
    border-radius: 0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.active .handle {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}

#team-carousel .handle {
    padding-left: 0;
    text-align: center;
}

#foods-carousel .handle .page,
#drinks-carousel .handle .page,
#activities-carousel .handle .page,
#special-carousel .handle .page,
#team-carousel .handle .page {
    position: relative;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#activities-carousel .handle .page {
    margin-top: 28px;
    height: calc(100% - 30px);
}

#foods-carousel .handle .page span,
#drinks-carousel .handle .page span {
    position: relative;
    display: inline-block;
    overflow: hidden;

}

#foods-carousel .handle .page span div.name,
#drinks-carousel .handle .page span div.name{
    position: absolute;
    bottom:-108%;
    left:0;
    display: block;
    flex-direction: column;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: rgba(68, 25, 132, 1);
    transition: all 0.5s ease;
}

#foods-carousel .handle .page span:hover div.name,
#drinks-carousel .handle .page span:hover div.name{
    bottom:-50%;
    transition: all 0.4s ease;
}

.linia-hover {
    display: block;
    margin: 8px auto 0 auto;
    width: 41px;
    height: 2px;
    background-color: #68fb98;

}

#foods-carousel .handle .page span:hover > p,
#drinks-carousel .handle .page span:hover > p {
    display: flex;
}

#foods-carousel .handle .page img,
#drinks-carousel .handle .page img {
    height: 100%;
}

#foods-carousel .handle .page span,
#foods-carousel .handle .page > div,
#drinks-carousel .handle .page span,
#drinks-carousel .handle .page > div {
    float: left;
    margin-right: 10px;
    line-height: 1.2em
}

#foods-carousel .handle .page > span,
#foods-carousel .handle .page > span > img,
#foods-carousel .handle .page > div,
#drinks-carousel .handle .page > span,
#drinks-carousel .handle .page > span > img,
#drinks-carousel .handle .page > div {
    height: 100%;
}


.img-in-div,
#foods-carousel .handle .page > div > span,
#drinks-carousel .handle .page > div > span {
    margin-right: 0;
    margin-bottom: 10px;
    height: calc(50% - 12px);
    overflow: hidden;
}

#drinks-carousel .handle .page > div > :first-child {
    margin-bottom: 10px;
}

#foods-carousel .handle .page > div > div,
#drinks-carousel .handle .page > div > div {
    float: left;
    width: 100%;
}

#foods-carousel .handle .page > div > div > span,
#drinks-carousel .handle .page > div > div > span {
    width: calc(50% - 10px);
    height: auto;
}

#foods-carousel .handle .page > div > div > span > img,
#drinks-carousel .handle .page > div > div > span > img {
    width: 100%;
}

#foods-carousel .handle .page > div,
#foods-carousel .handle .page > div > div > span:last-of-type,
#drinks-carousel .handle .page > div,
#drinks-carousel .handle .page > div > div > span:last-of-type {
    margin-right: 0;
}

.fooddrinks-content > div:nth-of-type(3) .download-menu,
.fooddrinks-content > div:nth-of-type(4) .download-menu,
.activities-content > div:nth-of-type(3) .download-menu {
    position: absolute;
    right: 33px;
    bottom: 37px;
    display: inline-block;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
}

.fooddrinks-content > div:nth-of-type(3) .download-menu {
    color: #000;
}

.download-menu:hover {
    opacity: .6;
}

.download-menu span {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.download-menu img {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}
.img-div{
    width:400px;
}
.portrait-img {
    position: relative;
    top: 4.1136141038%;
    height: 85.994123408% !important;
    margin-right: 12px;
}
.second-img {
    top: 8.7169441724%;
}

.fooddrinks-content > div:nth-of-type(5) a:hover,
.activities-content > div:nth-of-type(5) a:hover,
.about-content > div:nth-of-type(5) a:hover {
    opacity: .6;
}

.fooddrinks-content > div:nth-of-type(5) h1,
.activities-content > div:nth-of-type(5) h1,
.about-content > div:nth-of-type(5) h1 {
    margin: 30px auto 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    font-family: bebas;
    line-height: 76px;
}

.fooddrinks-content > div:nth-of-type(5) h1 span.bottom,
.activities-content > div:nth-of-type(5) h1 span.bottom,
.about-content > div:nth-of-type(5) h1 span.top {
    font-size:80px !important;
}

.fooddrinks-content > div:nth-of-type(5) h1 span.top,
.activities-content > div:nth-of-type(5) h1 span.top,
.about-content > div:nth-of-type(5) h1 span.bottom {
    display: block;
    font-size: 99px;
}

.fooddrinks-content > div:nth-of-type(5) .line,
.activities-content > div:nth-of-type(5) .line
.about-content > div:nth-of-type(5) .line {
    width: 215px;
    height: 4px;
    background-color: #68FB98;
}

.fooddrinks-content > div:nth-of-type(5) div,
.activities-content > div:nth-of-type(5) div,
.about-content > div:nth-of-type(5) div {
    display: inline-block;
    text-align: center;
}

.fooddrinks-content > div:nth-of-type(5) img,
.activities-content > div:nth-of-type(5) img,
.about-content > div:nth-of-type(5) img {
    display: inline-block;
    margin-right: 22px;
    width: 31px;
    vertical-align: middle;
}

.fooddrinks-content > div:nth-of-type(5) p,
.activities-content > div:nth-of-type(5) p,
.about-content > div:nth-of-type(5) p {
    display: inline-block;
    color: #68FB98;
    vertical-align: middle;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.fooddrinks-content > div:nth-of-type(5) a,
.activities-content > div:nth-of-type(5) a,
.about-content > div:nth-of-type(5) a {
    display: inline-block;
    /*width: 265px;*/
    color: #68FB98;
    vertical-align: middle;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.fooddrinks-content > div:nth-of-type(5) a span,

.about-content > div:nth-of-type(5) a span {
    font-weight: 300;
}

.fooddrinks-content > div:nth-of-type(5) a.firma,
.activities-content > div:nth-of-type(5) a.firma,
.about-content > div:nth-of-type(5) a.firma,
a.firma {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 100px;
    color: white;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-size: 12px;
    line-height: 1em;
    opacity: .2;
}

.fooddrinks-content > div:nth-of-type(5) a.firma:hover,
.activities-content > div:nth-of-type(5) a.firma:hover,
.about-content > div:nth-of-type(5) a.firma:hover,
a.firma:hover {
    opacity: 1 !important;
}

.menu-bottom {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    display: inline-block;
    margin: auto;
    color: white;
    list-style: none;
    text-align: center;
    font-size: 19px;
}

.menu-bottom li {
    display: inline-block;
    margin-right: 30px;
}

.menu-bottom li:last-of-type {
    margin-right: 0;
}

.fooddrinks-content > div:nth-of-type(5) .menu-bottom li a,
.activities-content > div:nth-of-type(5) .menu-bottom li a,
.about-content > div:nth-of-type(5) .menu-bottom li a {
    color: white;
    text-align: center;
    font-weight: 900 !important;
    font-size: 19px;
    line-height: 1em;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .fooddrinks-content > div:first-of-type {
        background: url("../img/fooddrinks/bg-portada@2x.jpg") center center/cover;
    }
    .fooddrinks-content .img-wrap {
        background: url("../img/fooddrinks/portada@2x.jpg") center center/cover;
    }
    .fooddrinks-content > div:nth-of-type(2) {
        background: url("../img/fooddrinks/bg-slide-2@2x.jpg") center center/cover;
    }
    .fooddrinks-content > div:nth-of-type(3) {
        background: url("../img/fooddrinks/bg-food@2x.jpg") center center/cover;
    }
    .fooddrinks-content > div:nth-of-type(4) {
        background: url("../img/fooddrinks/bg-drinks@2x.jpg") center center/cover;
    }
    .fooddrinks-content > div:nth-of-type(5) {
        background: url("../img/fooddrinks/bg-slide-5@2x.jpg") center center/cover;
    }
}

/** FOOD DRINKS **/

.home-content > div:first-of-type {
    background: url("../img/home/bg-home.jpg") center center/cover;
}




.home-content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  /*border-bottom: solid;*/
  height:100%;
}

.home-content > div:first-of-type{
  position: absolute;
  overflow: hidden;
  background-image: url(../img/home/bg-home.jpg);
  width: 100% !important;
  background-size: cover;
  background-position: center;
  /*border-bottom: solid;*/
  height:110%;
}




.home-content .img-wrap {
    background: url("../img/home/portada.jpg") center center/cover;
}

.home-content div:first-of-type > .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 38.1875%;
    opacity: 0;
    transition: opacity .6s .9s ease-out, transform .6s .9s ease-out;
    transform: translate3d(0, -20%, 0);
}

body.loaded .home-content div:first-of-type.active-slide > img {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

body.loaded .home-content div:first-of-type.active-slide > img,
body.loaded .home-content div:first-of-type.active-slide > .img-wrap {
    animation-name: hideHome;
    animation-duration: .8s;
    animation-delay: 2s;

    animation-fill-mode: forwards;
}

@keyframes hideHome {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -70%;
        opacity: 0;
    }
}

@-webkit-keyframes hideHome {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -70%;
        opacity: 0;
    }
}

.tiles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0 !important;
    display: -webkit-flex;
    display:         flex;
    margin: auto;
    width: 100%;
    height: 100%;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

body.loaded .home-content div:first-of-type.active-slide .tiles {
    z-index: -10;
    opacity: 0;
    animation-name: showTiles;
    animation-duration: .8s;
    animation-delay: 2.7s;

    animation-fill-mode: forwards;
}

@keyframes showTiles {
    from {
        z-index: -10;
        opacity: 0;
    }
    to {
        z-index: 1;
        opacity: 1;
    }
}

@-webkit-keyframes showTiles {
    from {
        z-index: -10;
        opacity: 0;
    }
    to {
        z-index: 1;
        opacity: 1;
    }
}

.tiles > div:not(:last-of-type) {
    margin-right: 10px;
}

.fd,
.act,
.wrap-tiles {
    position: relative;
    display: inline-block;
    width: 19.5703125%;
    height: 60.6875%;
    vertical-align: top;
}

.fd {
    margin-top: 28px;
    min-width: 200px;
    min-height: 480px;
    opacity: 0;
    transition: opacity .3s 2.8s ease-out, transform .3s 2.8s ease-out;
    transform: translate3d(0, 20%, 0);
}

.fd .tile-title {
    transition: transform .3s 2.8s ease-out;
    transform: translate3d(0, 150%, 0);
}

.act {
    min-width: 200px;
    min-height: 480px;
    opacity: 0;
    transition: opacity .3s 2.9s ease-out, transform .3s 2.9s ease-out;
    transform: translate3d(0, -20%, 0);
}

.act .tile-title {
    transition: transform .3s 2.9s ease-out;
    transform: translate3d(0, -150%, 0);
}

.wrap-tiles {
    min-width: 560px;
    min-height: 570px;
    width: 43.75%;
    height: 74.375%;
}

.fd a,
.act a,
.wh a,
.wr a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 90.721649485%;

}

.fd a > .foto,
.act a > .foto,
.wh a > .foto,
.wr a > .foto {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/home/tile-food.jpg") center center/cover;
    transition: transform .3s ease-in-out;
    transform: scale(1);
}

.act a > .foto {
    background: url("../img/home/tile-activities.jpg") center center/cover;
}

.tile-title {
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 15px;
    line-height: 2;
}

.tile-title > span {
    position: relative;
    display: block;
    width: 41px;
    height: 2px;
    background-color: #68FB98;
}

.tile-title.align-right {
    margin-top: 1%;
    text-align: right;
    line-height: 2.2;
}

.tile-title.align-right > span {
    position: absolute;
    right: 0;
}

.wh {
    position: relative;
    display: block;
    margin-bottom: 10px;
    max-width: 800px;
    width: 90.178571429%;
    height: 42.481513%;
    opacity: 0;
    transition: opacity .3s 3s ease-out, transform .3s 3s ease-out;
    transform: translate3d(20%, 0, 0);
}

.wh a {
    height: calc(100% - 33px);
}

.wh a > .foto {
    background: url("../img/home/tile-wheels.jpg") center center/cover;
}

.wh .tile-title {
    transition: transform .3s 3s ease-out;
    transform: translate3d(150%, 0, 0);
}

.wr {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 46.428571429%;
    height: 54.621848739%;
    vertical-align: top;
    opacity: 0;
    transition: opacity .3s 3.1s ease-out, transform .3s 3.1s ease-out;
    transform: translate3d(0, 20%, 0);
}

.wr .tile-title {
    transition: transform .3s 3.1s ease-out;
    transform: translate3d(0, 150%, 0);
}

.wr a {
    height: 86.153846154%;
}

.wr a > .foto {
    background: url("../img/home/tile-shop.jpg") center center/cover;
}

.wrap-info-tiles {
    position: relative;
    display: inline-block;
    max-width: 475px;
    width: 51.785714286%;
    height: 47.222%;
    vertical-align: top;
}

.locat {
    position: relative;
            display: block;
            display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 46.428571429%;
    background-color: #68FB98;
    color: #522E92;
    font-size: 13px;
    line-height: 18px;
    opacity: 0;
    transition: opacity .3s 3.2s ease-out, transform .3s 3.2s ease-out;
    transform: translate3d(20%, 0, 0);

    -webkit-align-items: center;
            align-items: center;
    -webkit-display: flex;
    -webkit-justify-content: center;
            justify-content: center;
}

.locat img {
    display: inline-block;
    margin-right: 5px;
    max-height: 60px;
    height: 85%;
    vertical-align: top;
}

.locat a:hover {
    opacity: .6;
}

.locat > div > a > div {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
}

.locat span {
    font-weight: 300;
}

.weather {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: calc(50% - 10px);
    height: 50%;
    background-color: #522E92;
    text-align: center;
    opacity: 0;
    transition: opacity .3s 3.3s ease-out, transform .3s 3.3s ease-out;
    transform: translate3d(20%, 0, 0);
    text-align: center;


}
.weather div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}

.weather img{
    margin:0 auto;
    width:70px;
}


.weather .weather-temperature{
    font-weight: bold;
}

.external-link{
    position: absolute;
    bottom:-10px;
    right:0;
}

.external-link{
  max-width: 100% !important;
  max-height: 100% !important;
}


@media only screen and (min-width: 1600px) {
    .weather img{
        margin:0 auto;
        width:110px;
    }

    .external-link{
        background:transparent url("../img/btn-external@2x.png") scroll no-repeat;
        width:100px;
        height:94px;
    }
}


i {
    color: #FFF;
    font-weight: normal;
    font-style: normal;
    font-size: 90px;
    font-family: weather;
    line-height: 1.0;
}

.weather span {
    position: relative;
    top: -10px;
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
}

.social {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
    height: 50%;
    opacity: 0;
    transition: opacity .3s 3.4s ease-out, transform .3s 3.4s ease-out;
    transform: translate3d(20%, 0, 0);
}



.menu-button.home-animation {
    opacity: 0;
    transition: opacity .3s 3.5s ease-out, transform .3s 3.5s ease-out;
    transform: rotateZ(45deg) translate3d(0, -100%, 0);
}

body.loaded .menu-button.home-animation {
    opacity: 1;
    transform: rotateZ(45deg) translate3d(0, -70%, 0);
}

body.loaded .home-content div:first-of-type.active-slide .fd,
body.loaded .home-content div:first-of-type.active-slide .act,
body.loaded .home-content div:first-of-type.active-slide .wh,
body.loaded .home-content div:first-of-type.active-slide .wr,
body.loaded .home-content div:first-of-type.active-slide .locat,
body.loaded .home-content div:first-of-type.active-slide .weather,
body.loaded .home-content div:first-of-type.active-slide .social,
body.loaded .home-content div:first-of-type.active-slide .fd .tile-title,
body.loaded .home-content div:first-of-type.active-slide .act .tile-title,
body.loaded .home-content div:first-of-type.active-slide .wh .tile-title,
body.loaded .home-content div:first-of-type.active-slide .wr .tile-title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.fb,
.ig,
.tw,
.mail {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    width: 48.214285714%;
    height: 48.214285714%;
    background-color: #522E92;
    vertical-align: top;
}

.fb a,
.ig a,
.tw a,
.mail a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.fb a:hover,
.ig a:hover,
.tw a:hover,
.mail a:hover {
    background-color: #68FB98;
}

.fb img,
.ig img,
.tw img,
.mail img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.fb img {
    width: 10px;
}

.ig img {
    width: 18px;
}

.tw img {
    width: 17px;
}
.mail img {
    width: 23px;
}

.fb {
    margin-right: 1px;
}

.tw {
    margin-bottom: 0;
}
.mail {
    margin-bottom: 0;
}

.hover-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 94.4%;
    height: 96.590909091%;
    background-color: #522E92;
    opacity: 0;
    transition: opacity .3s ease-out;

    align-items: center;
    justify-content: center;
}

.wh .hover-link {
    width: 97.035573123%;
    height: 92.592592593%;
}

.wr .hover-link {
    width: 95.6%;
    height: 95.490909%;
}

.act .hover-link img {
    margin-bottom: 10px;
    max-height: 83px;
    max-width: 103px
}

.fd .hover-link img {
    margin-bottom: 10px;
    max-width: 70px;
    max-height: 77px
}

.wr .hover-link img {
    margin-bottom: 10px;
    max-width: 77px;
    max-height: 36px;
}

.hover-link h1 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
}

.hover-link h2,
.hover-link p {
    color: white;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
}

.hover-link h2 p {
    display: inline-block;
    margin: 0 !important;
}

.act .hover-link p,
.wh .hover-link p {
    margin-top: 25px;
}

.hover-link span {
    margin-top: 5px;
    width: 41px;
    height: 2px;
    background-color: #68FB98;
}

.has-hover:hover .hover-link {
    opacity: .95;
}

.has-hover:hover > .foto {
    transform: scale(1.1);
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {

    .home-content > div:first-of-type {
        background: url("../img/home/bg-home@2x.jpg") center center/cover;
    }

    .home-content .img-wrap {
        background: url("../img/home/portada@2x.jpg") center center/cover;
    }

    .fd a > .foto{
        background: url("../img/home/tile-food@2x.jpg") center center/cover;
    }

    .act a > .foto {
        background: url("../img/home/tile-activities@2x.jpg") center center/cover;
    }

    .wh a > .foto {
        background: url("../img/home/tile-wheels@2x.jpg") center center/cover;
    }

    .wr a  > .foto{
        background: url("../img/home/tile-shop@2x.jpg") center center/cover;
    }
}

/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: -webkit-flex;
    display:         flex;
    min-width: 980px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-color: #FFF;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

/* Overlay closing cross */
.overlay .overlay-close {
    position: absolute;
    top: 26px;
    right: 30px;
    z-index: 999999;
    overflow: hidden;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: url(../img/home/close.png) no-repeat center center;
    background-size: cover;
    color: transparent;
    text-indent: 200%;
}

.overlay .overlay-close:hover {
    opacity: .6;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .overlay .overlay-close {
        background: url(../img/home/close@2x.png) no-repeat center center;
        background-size: cover;
    }
}

/** ACTIVITIES **/

.activities-content > div:first-of-type {
    background: url("../img/activities/bg-portada.jpg") center center/cover;
}

.activities-content .img-wrap {
    background: url("../img/activities/portada.jpg") center center/cover;
}

.activities-content > div:nth-of-type(2) > div {
    margin-right: 6%;
}

.activities-content > div:nth-of-type(2) img {
    position: relative;
    top: 20px;
    left: 200px;
    z-index: 2;
    float: left;
    height: 430px;
}

.activities-content > div:nth-of-type(2) h1 {
    position: relative;
    right: 0;
    z-index: 2;
    float: right;
    margin-top: 90px;
    padding: 10px;
    width: 455px;
    background: #FFF;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    line-height: 48px;
}

.activities-content > div:nth-of-type(2) h1 > p {
    position: relative;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.green-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 460px;
    height: 338px;
    border: 9px solid #68FB98;
}


.activitie {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    width: 352px;
    height: 100%;
    vertical-align: top;
}

.today-activity {
    position: absolute;
    top: -30px;
    right: 0;
    color: #68FB98;
    font-weight: 400;
    font-size: 22px;
    font-family: bebas;
    line-height: 30px;
}

.line-today {
    display: inline-block;
    width: 97px;
    height: 2px;
    background-color: #68FB98;
    vertical-align: middle;
}

.activities-content > div:nth-of-type(3) > h1 {
    position: absolute;
    bottom: 5px;
    left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 77px;
    opacity: .05;
}

.activities-content > div:nth-of-type(3) > h1 > span {
    position: relative;
    top: -12px;
    display: block;
    font-weight: 900;
    font-size: 50px;
}

.activitie > div {
    width: 100%;
}

.activitie > div:first-of-type {
    margin-bottom: 2px;
    max-height: 198px;
    height: calc(100% - 213px);
    background-color: white;
}

.activitie > div > div:first-of-type {
    display: inline-block;
    margin-right: 2px;
    width: 50px;
    vertical-align: top;
}

.activitie > div > div:first-of-type img {
    position: relative;
    top: 50%;
    margin: auto;
    height: 100%;
    line-height: 50px;
    transform: translate3d(0, -50%, 0);
}

.activitie > div > div:first-of-type > div:not(:first-of-type) img {
    width: 60%;
    height: auto;
}

.activitie > div > div:first-of-type > div {
    margin-bottom: 2px;
    width: 100%;
    height: 50px;
    background-color: #441984;
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
}

.activitie > div > div:last-of-type {
    display: inline-block;
    width: 300px;
    height: 213px;
    vertical-align: top;
}

.activitie > div > div:last-of-type > div:first-of-type {
    overflow: auto;
    margin-bottom: 2px;
    height: 180px;
    background-color: #441984;
    color: white;
}

.activitie > div > div:last-of-type > div:first-of-type h1 {
    position: relative;
    margin: 35px auto 5px auto;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
}

.activitie > div > div:last-of-type > div:first-of-type p {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.activitie > div > div:last-of-type > div:first-of-type span {
    position: relative;
    display: block;
    margin: 12px auto 12px auto;
    width: 218px;
    height: 2px;
    background-color: #68FB98;
}

.activitie > div > div:last-of-type > div:first-of-type h2 {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}





.activitie > div > div > div.scheduled,
.activitie > div > div > a.booking,
.activitie > div > div > a.more-info {
    display: inline-block;
    padding: 0 20px 0 15px;
    margin-left:-1px;
    width: auto !important;
    height: 30px;
    background-color: #441984;
    color: #68FB98;
    font-size: 17px;
    line-height: 30px;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 700 !important;
    font-size: 11px;


}

.activitie > div > div > div.scheduled{
    margin-left:0;
}

.activitie > div > div > div.scheduled a,
.activitie > div > div > a.booking,
.activitie > div > div > a.more-info{
    font-weight: 700 !important;
}

.activitie > div > div > div.scheduled span,
.activitie > div > div > a.booking span,
.activitie > div > div > a.more-info span{
    display: inline-block;
    margin-top:1px;
}

.activitie > div > div > div.scheduled img,
.activitie > div > div > a.booking img,
.activitie > div > div > a.more-info img {
    display: inline-block;
    margin-right: 7px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -2px;
}

.activitie > div > div > a.booking img{
	height: 12px;
  width: 17px;
}
.activitie > div > div > a.more-info img{
  height: 12px;
  width: 5px;
}

.activitie > div > div > div.scheduled p,
.activitie > div > div > a.booking p,
.activitie > div > div > a.more-info p {
    display: inline-block;
    margin-top: -1px;

}




.beach-workout > div:first-of-type {
    background: url("../img/activities/beach-workout.jpg") center center/cover;
}

.ladies-night > div:first-of-type {
    background: url("../img/activities/ladies-night.jpg") center center/cover;
}

.shb-running > div:first-of-type {
    background: url("../img/activities/shb-running.jpg") center center/cover;
}

.moritz-bucket > div:first-of-type {
    background: url("../img/activities/moritz-bucket.jpg") center center/cover;
}

.paddle-surf > div:first-of-type {
    background: url("../img/activities/paddle-surf.jpg") center center/cover;
}

.lecucut > div:first-of-type {
    background: url("../img/activities/lecucut.jpg") center center/cover;
}

.beach-cleaning > div:first-of-type {
    background: url("../img/activities/beach-cleaning.jpg") center center/cover;
}

.wine-night > div:first-of-type {
    background: url("../img/activities/wine-night.jpg") center center/cover;
}

.mojito-time > div:first-of-type {
    background: url("../img/activities/mojito-time.jpg") center center/cover;
}

.happy-nachos > div:first-of-type {
    background: url("../img/activities/nachos.jpg") center center/cover;
}

.paddle-boards > div:first-of-type {
    background: url("../img/activities/paddle-boards.jpg") center center/cover;
}

.surfers-workout > div:first-of-type {
    background: url("../img/activities/surfers-workout.jpg") center center/cover;
}

.chocolate > div:first-of-type {
    background: url("../img/activities/chocolate.jpg") center center/cover;
}

.merienda > div:first-of-type {
    background: url("../img/activities/merienda.jpg") center center/cover;
}

.live-music > div:first-of-type {
    background: url("../img/activities/live-music.jpg") center center/cover;
}

.magali > div:first-of-type {
    background: url("../img/activities/magali.jpg") center center/cover;
}

.pack-karts > div:first-of-type {
    background: url("../img/activities/pack-karts.jpg") center center/cover;
}

.pack-jet-ski > div:first-of-type {
    background: url("../img/activities/pack-jet-ski.jpg") center center/cover;
}

.pack-water-day > div:first-of-type {
    background: url("../img/activities/pack-water-day.jpg") center center/cover;
}

.pack-beach-combo > div:first-of-type {
    background: url("../img/activities/pack-beach-combo.jpg") center center/cover;
}

.pack-sailing > div:first-of-type {
    background: url("../img/activities/pack-sailing.jpg") center center/cover;
}

.pack-private > div:first-of-type {
    background: url("../img/activities/pack-private.jpg") center center/cover;
}

.shb-trips > div:first-of-type {
    background: url("../img/activities/shb-trips.jpg") center center/cover;
}


@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .beach-workout > div:first-of-type {
        background: url("../img/activities/beach-workout@2x.jpg") center center/cover;
    }

    .ladies-night > div:first-of-type {
        background: url("../img/activities/ladies-night@2x.jpg") center center/cover;
    }

    .shb-running > div:first-of-type {
        background: url("../img/activities/shb-running@2x.jpg") center center/cover;
    }

    .moritz-bucket > div:first-of-type {
        background: url("../img/activities/moritz-bucket@2x.jpg") center center/cover;
    }

    .paddle-surf > div:first-of-type {
        background: url("../img/activities/paddle-surf@2x.jpg") center center/cover;
    }

    .lecucut > div:first-of-type {
        background: url("../img/activities/lecucut@2x.jpg") center center/cover;
    }

    .beach-cleaning > div:first-of-type {
        background: url("../img/activities/beach-cleaning@2x.jpg") center center/cover;
    }

    .wine-night > div:first-of-type {
        background: url("../img/activities/wine-night@2x.jpg") center center/cover;
    }

    .mojito-time > div:first-of-type {
        background: url("../img/activities/mojito-time@2x.jpg") center center/cover;
    }

    .happy-nachos > div:first-of-type {
        background: url("../img/activities/nachos@2x.jpg") center center/cover;
    }

    .paddle-boards > div:first-of-type {
        background: url("../img/activities/paddle-boards@2x.jpg") center center/cover;
    }
    
    .surfers-workout > div:first-of-type {
    	background: url("../img/activities/surfers-workout@2x.jpg") center center/cover;
	}
	
	.chocolate > div:first-of-type {
    	background: url("../img/activities/chocolate@2x.jpg") center center/cover;
	}
	
	.merienda > div:first-of-type {
    	background: url("../img/activities/merienda@2x.jpg") center center/cover;
	}
	
	.live-music > div:first-of-type {
    background: url("../img/activities/live-music@2x.jpg") center center/cover;
}

.magali > div:first-of-type {
    background: url("../img/activities/magali@2x.jpg") center center/cover;
}

	.pack-karts > div:first-of-type {
    background: url("../img/activities/pack-karts@2x.jpg") center center/cover;
}

.pack-jet-ski > div:first-of-type {
    background: url("../img/activities/pack-jet-ski@2x.jpg") center center/cover;
}

.pack-water-day > div:first-of-type {
    background: url("../img/activities/pack-water-day@2x.jpg") center center/cover;
}

.pack-beach-combo > div:first-of-type {
    background: url("../img/activities/pack-beach-combo@2x.jpg") center center/cover;
}

.pack-sailing > div:first-of-type {
    background: url("../img/activities/pack-sailing@2x.jpg") center center/cover;
}

.pack-private > div:first-of-type {
    background: url("../img/activities/pack-private@2x.jpg") center center/cover;
}

.shb-trips > div:first-of-type {
    background: url("../img/activities/shb-trips@2x.jpg") center center/cover;
}

}


.activities-content > div:nth-of-type(3) {
    background: url("../img/activities/bg-activities.jpg") center/cover;
}

.activities-content > div:nth-of-type(4) {
    background: url("../img/activities/bg-special-events.jpg") center/cover;
}

.activities-content > div:nth-of-type(5) {
    background: url("../img/activities/bg-slide-5.jpg") center/cover;
}

.special-event {
    position: relative;
    display: inline-block;
    padding-right: 119px;
    height: 74.100719424%;
    vertical-align: middle;
}

.special-event:first-of-type {
    height: 100%;
}

.activities-content > div:nth-of-type(4) > h1 {
    position: absolute;
    right: 24px;
    bottom: 42px;
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 51px;
}

.activities-content > div:nth-of-type(4) > h1 > span {
    position: relative;
    top: -10px;
    display: block;
    font-weight: 900;
    font-size: 65px;
}

@media only screen and (max-width: 1024px) {
    .activities-content > div:nth-of-type(4) > h1 {
        bottom: 32px;
        font-size: 41px;
    }

    .activities-content > div:nth-of-type(4) > h1 > span {
        top: -10px;
        font-size: 55px;
    }
}

.special-event > img {
    display: inline-block;
    margin-right: 2px;
    min-height: 390px;
    height: 100%;
    vertical-align: middle;
}

.special-event > div {
    display: inline-block;
    width: 194px;
    height: 376px;
    vertical-align: middle;
}

.special-event > div > div > div:first-of-type {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    width: 90px;
    height: 102px;
    background-color: #441984;
    color: #FFF;
    vertical-align: top;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.special-event > div > div > div:first-of-type span {
    position: relative;
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 40px;
}

.event-hour {
    display: block;
    margin-top: 0 !important;
    color: #68FB98;
    letter-spacing: .05em;
    font-weight: 400 !important;
    font-size: 13px !important;
    font-family: bebas;
    line-height: 23px;
}

.special-event > div > div > div:nth-of-type(2) {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 102px;
    vertical-align: top;
}

.special-event > div > div > div:nth-of-type(2) > div {
    position: relative;
    display: block;
    margin-bottom: 2px;
    width: 50px;
    height: 50px;
    background-color: #441984;
}

.special-event > div > div > div:nth-of-type(2) > div:first-of-type img {
    position: relative;
    top: 12px;
    margin: auto;
    width: 22px;
}

.special-event > div > div > div:nth-of-type(2) > div:last-of-type {
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
}

.special-event > div > div > div:nth-of-type(2) > div:last-of-type img {
    position: relative;
    top: 18px;
    margin: auto;
    width: 60%;
}

.special-event > div > div:last-of-type {
    margin-top: 2px;
    padding: 20px 24px;
    width: 194px;
    height: 272px;
    background-color: #441984;
}

.special-event > div > div:last-of-type h1 {
    color: #FFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
}

.special-event > div > div:last-of-type p {
    margin-bottom: 16px;
    color: #FFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.special-event > div > div:last-of-type a {
    color: #68FB98;
    font-weight: 900;
    font-size: 12px;
}

.event-line {
    display: block;
    margin: 16px 0;
    width: 100%;
    height: 2px;
    background-color: #68FB98;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .activities-content > div:first-of-type {
        background: url("../img/activities/bg-portada@2x.jpg") center center/cover;
    }
    .activities-content .img-wrap {
        background: url("../img/activities/portada@2x.jpg") center center/cover;
    }
    .activities-content > div:nth-of-type(3) {
        background: url("../img/activities/bg-activities@2x.jpg") center center/cover;
    }
    .activities-content > div:nth-of-type(4) {
        background: url("../img/activities/bg-special-events@2x.jpg") center center/cover;
    }
    .activities-content > div:nth-of-type(5) {
        background: url("../img/activities/bg-slide-5@2x.jpg") center center/cover;
    }
}

/** ABOUT **/

.bg-about {
    background: url("../img/about/bg-collage.jpg") center;
    background-size: cover;
    background-attachment: fixed;
}

.about-content > div:first-of-type {
    background: url("../img/about/bg-portada.jpg") center center/cover;
}

.about-content .img-wrap {
    background: url("../img/about/portada.jpg") center center/cover;
}

.about-content .portada-title {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 13.75%;
    left: 7%;
    margin: 0 auto;
    height: 17.5%;
    opacity: 0;
    transition: opacity .6s .3s ease-out, transform .6s .3s ease-out;
    transform: translate3d(20%, 0, 0);
}

.about-content .center-wrapper {
    text-align: center;

}

.about-content .green-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 749px;
    height: 350px;
    border: 9px solid #68FB98;
}

.about-content > div:nth-of-type(2) > div > div:last-of-type {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: auto;
    padding: 30px;
    background-color: #FFF;
    text-align: left;
}

.about-content > div:nth-of-type(2) > div > div:last-of-type > div {
    display: inline-block;
    margin-top: 95px;
    margin-right: 50px;
    vertical-align: middle;
}

.about-content > div:nth-of-type(2) > div > div:last-of-type h1 {
    margin-bottom: 20px;
    color: black;
    font-weight: 900;
    font-size: 120px;
}

.about-content > div:nth-of-type(2) > div > div:last-of-type h1 span {
    display: block;
    color: black;
    font-weight: 900;
    font-size: 25px;
}

.about-content > div:nth-of-type(2) > div > div:last-of-type p {
    display: inline-block;
    width: 245px;
    color: #0A0A0A;
    vertical-align: middle;
    letter-spacing: .1em;
    font-weight: 300;
    font-size: 13px;
    line-height: 29px;
}

.about-content > div:nth-of-type(4) > h1 {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
}

.about-content > div:nth-of-type(4) > h1 > span{
    font-weight: 900;
    font-size: 65px;
}

.about-content .line,
.about-content .top{
  display:block;
}

.team-member-wrapper{
    transition: transform .8s .4s ease-out;
    transform: scale(1.1);
    overflow: hidden;
}
body.loaded .team-member-wrapper{
    transform: scale(1);
    overflow: hidden;
}

.team-member {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 245px;
    height: 100%;
    vertical-align: top;
}

.team-member:nth-of-type(odd) .img-team {
    margin-bottom: 10px;
}

.team-member:nth-of-type(even) .img-team {
    margin-top: 20px;
}

.team-member p {
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
}

.team-member:nth-of-type(even) p {
    text-align: right;
}

.team-member b {
    font-weight: 900;
}

.team-member:not(:last-of-type) {
    margin-right: 10px;
}

.img-team {
    position: relative;
    max-height: 430px;
    height: 90%;
}

.team-member .img-team {
    overflow: hidden;
}

.team-member .img-team > .foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-out;
    transform: scale(1);
}

.team-member:hover .img-team > .foto {
    transform: scale(1.1);
}

.team-line {
    display: block;
    margin-top: 6px;
    width: 41px;
    height: 2px;
    background-color: #68FB98;
}

.team-member:nth-of-type(even) .team-line {
    position: absolute;
    right: 0;
}

.jony-gonzalez > .foto  {
    background: url("../img/about/team/jony-gonzalez.jpg") center center / cover;
}

.bg-jony-gonzalez {
    background: url("../img/about/team/bg-jony-gonzalez.jpg") center center / cover;
}


.jan-bein > .foto  {
    background: url("../img/about/team/jan-bein.jpg") center center / cover;
}

.bg-jan-bein {
    background: url("../img/about/team/bg-jan-bein.jpg") center center / cover;
}

.andrea-luelmo > .foto  {
    background: url("../img/about/team/andrea-luelmo.jpg") center center / cover;
}

.bg-andrea-luelmo {
    background: url("../img/about/team/bg-andrea-luelmo.jpg") center center / cover;
}


.albert-hernandez > .foto  {
    background: url("../img/about/team/albert-hernandez.jpg") center center / cover;
}

.bg-albert-hernandez {
    background: url("../img/about/team/bg-albert-hernandez.jpg")center center / cover;
}

.alex-knopfel > .foto  {
    background: url("../img/about/team/alex-knopfel.jpg") center center / cover;
}

.bg-alex-knopfel {
    background: url("../img/about/team/bg-alex-knopfel.jpg") center center / cover;
}

.helen-saigi > .foto  {
    background: url("../img/about/team/helen-saigi.jpg") center center / cover;
}

.bg-helen-saigi {
    background: url("../img/about/team/bg-helen-saigi.jpg") center center / cover;
}

.carles-medina > .foto  {
    background: url("../img/about/team/carles-medina.jpg") center center / cover;
}

.bg-carles-medina {
    background: url("../img/about/team/bg-carles-medina.jpg") center center / cover;
}


.claris-carrasco > .foto  {
    background: url("../img/about/team/claris-carrasco.jpg") center center / cover;
}

.bg-claris-carrasco {
    background: url("../img/about/team/bg-claris-carrasco.jpg") center center / cover;
}

.pablo-viaplana > .foto  {
    background: url("../img/about/team/pablo-viaplana.jpg") center center / cover;
}

.bg-pablo-viaplana {
    background: url("../img/about/team/bg-pablo-viaplana.jpg") center center / cover;
}

.eli-melero > .foto  {
    background: url("../img/about/team/eli-melero.jpg") center center / cover;
}

.bg-eli-melero {
    background: url("../img/about/team/bg-eli-melero.jpg") center center / cover;
}

.adria-perarnau > .foto  {
    background: url("../img/about/team/adria-perarnau.jpg") center center / cover;
}

.bg-adria-perarnau {
    background: url("../img/about/team/bg-adria-perarnau.jpg") center center / cover;
}

.about-content > div:nth-of-type(3) {
    background-color: transparent !important;
}

.about-content > div:nth-of-type(4) {
    background: url("../img/about/bg-team.jpg") center center;
    background-size: cover;
}

.about-content > div:nth-of-type(5) {
    background: url("../img/about/bg-slide-5.jpg") center center;
    background-size: cover;
}

.team-member-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team-member-wrapper > div {
    position: absolute;
    bottom:0;
    margin-bottom:8%;
    margin-left: 5.9375%;
    display: inline-block;
}

.team-member-wrapper > div img {
    height: 272px;
}

.team-member-wrapper > div p {
    display: block;
    padding: 30px 25px;
    width: 245px;
    background-color: #441984;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.team-member-wrapper > div > div,
.team-member-wrapper > div > p {
    display: inline-block;
    margin-right: 2px;
    vertical-align: top;
}

.team-member-wrapper > div > p {
    margin-top:44%;
    margin-right: 0;

}

.team-member-wrapper > div p b {
    font-weight: 900;
}

.team-member-wrapper > div p span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
}

.line-member {
    display: block;
    margin: 16px 0 18px 0;
    width: 194px;
    height: 2px;
    background-color: #68FB98;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {

    .bg-about > div{
        background: url("../img/about/bg-collage@2x.jpg") center center/cover;
    }

    .about-content > div:first-of-type {
        background: url("../img/about/bg-portada@2x.jpg") center center/cover;
    }

    .about-content .img-wrap {
        background: url("../img/about/portada@2x.jpg") center center/cover;
    }

    .about-content > div:nth-of-type(4) {
        background: url("../img/about/bg-team@2x.jpg") center center/cover;
    }

    .about-content > div:nth-of-type(5) {
        background: url("../img/about/bg-slide-5@2x.jpg") center center/cover;
    }

    .albert-hernandez {
        background: url("../img/about/team/albert-hernandez@2x.jpg") center center/cover;
    }

    .bg-albert-hernandez {
        background: url("../img/about/team/bg-albert-hernandez@2x.jpg") center center/cover;
    }

    .alex-knopfel {
        background: url("../img/about/team/alex-knopfel@2x.jpg") center center/cover;
    }

    .bg-alex-knopfel {
        background: url("../img/about/team/bg-alex-knopfel@2x.jpg") center center/cover;
    }

    .carles-medina {
        background: url("../img/about/team/carles-medina@2x.jpg") center center/cover;
    }

    .bg-carles-medina {
        background: url("../img/about/team/bg-carles-medina@2x.jpg") center center/cover;
    }

    .pablo-viaplana {
        background: url("../img/about/team/pablo-viaplana@2x.jpg") center center/cover;
    }

    .bg-pablo-viaplana {
        background: url("../img/about/team/bg-pablo-viaplana@2x.jpg") center center/cover;
    }
    
    .eli-melero {
        background: url("../img/about/team/eli-melero@2x.jpg") center center/cover;
    }

    .bg-eli-melero {
        background: url("../img/about/team/bg-eli-melero@2x.jpg") center center/cover;
    }
    
    .claris-carrasco > .foto  {
    background: url("../img/about/team/claris-carrasco@2x.jpg") center center / cover;
    }

    .bg-claris-carrasco {
    background: url("../img/about/team/bg-claris-carrasco@2x.jpg") center center / cover;
    }
    
    .adria-perarnau > .foto  {
    background: url("../img/about/team/adria-perarnau@2x.jpg") center center / cover;
	}

	.bg-adria-perarnau {
    background: url("../img/about/team/bg-adria-perarnau@2x.jpg") center center / cover;
	}
	
	.jan-bein > .foto  {
    background: url("../img/about/team/jan-bein@2x.jpg") center center / cover;
	}

	.bg-jan-bein {
    background: url("../img/about/team/bg-jan-bein@2x.jpg") center center / cover;
	}
	
	.andrea-luelmo > .foto  {
    background: url("../img/about/team/andrea-luelmo@2x.jpg") center center / cover;
    }

	.bg-andrea-luelmo {
    background: url("../img/about/team/bg-andrea-luelmo@2x.jpg") center center / cover;
    }
    
    .helen-saigi > .foto  {
    background: url("../img/about/team/helen-saigi@2x.jpg") center center / cover;
    }

    .bg-helen-saigi {
    background: url("../img/about/team/bg-helen-saigi@2x.jpg") center center / cover;
    }
    
    .jony-gonzalez > .foto  {
    background: url("../img/about/team/jony-gonzalez@2x.jpg") center center / cover;
}

.bg-jony-gonzalez {
    background: url("../img/about/team/bg-jony-gonzalez@2x.jpg") center center / cover;
}

}

/* Menu style */
.overlay nav {
    position: relative;
    text-align: center;
    font-size: 42px;
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    margin-bottom: 30px;
}

.overlay nav ul li:last-child{
    margin-top: 40px;
}
.overlay nav ul li:last-child a{
    font-size:34px !important;
}

.overlay ul li a {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    color: #441984;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .2s;
            transition: color .2s;
}



.overlay ul li a .border {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px auto -4px auto;
    width: 0;
    height: 4px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}

.overlay ul li a:hover .border {
    width: 100%;
}

.overlay ul li .border {
    width: 60px;
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
    margin: -22px auto 0 auto;
    height: 2px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}

@media only screen and (min-width: 1600px) {
  .overlay ul li {
    margin-bottom: 30px;
  }
  .overlay nav {
        font-size: 70px;
        line-height: 80px;
    }
    .overlay nav ul li:last-child a{
        font-size:58px !important;
    }
    .locat {
      font-size:18px;
      line-height: 22px;
    }


}

.overlay ul li a:hover,
.overlay ul li a:focus {
    outline: none;
    color:#68FB98;
}

.menu-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin: auto;
    text-align: center;
    transition: transform .3s ease-out;
    transform: translate3d(0, 100%, 0);
}

.open .menu-footer {
    transform: translate3d(0,0,0);
}

.menu-footer ul {
    display: block;
}

.menu-footer ul:first-of-type {
    margin-bottom: 5px;
}

.menu-footer ul:last-of-type {
    margin-bottom: 20px;
}

.menu-footer ul li:not(:last-of-type) {
    margin-right: 20px;
}

.menu-footer ul li {
    margin-bottom: 0 !important;
}

.menu-footer ul li,
.menu-footer ul li a {
    display: inline-block;
    height: auto;
    color: #522E92;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}

.menu-footer ul:first-of-type li,
.menu-footer ul:first-of-type li a {
    font-weight: 500;
}

.menu-footer ul li a:hover {
    border: 0 !important;
    opacity: .6;
}

/* Menu Rollover */
.overlay ul li a:hover {
    /*border-bottom: 4px solid #68FB98;*/
}

/* Effects */
.overlay-hugeinc {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s, visibility 0s .5s;
            transition: opacity .5s, visibility 0s .5s;
}

.overlay-hugeinc.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
    background: #fff;
    z-index:9999 !important;
}

.overlay-hugeinc h1,
.overlay-hugeinc h2,
.overlay-hugeinc .adress-holder {
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
    transition-delay: .5s;
}

.overlay-hugeinc .line {
    -webkit-transition: width .2s;
            transition: width .2s;
    transition-delay: .8s;
}

.overlay-hugeinc.open h1,
.overlay-hugeinc.open h2,
.overlay-hugeinc.open .adress-holder,
.overlay-hugeinc.open .contact p,
.overlay-hugeinc.open .adress {
    opacity: 1;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
            perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: .4;
    -webkit-transition: -webkit-transform .5s, opacity .5s;
            transition:         transform .5s, opacity .5s;
    -webkit-transform: translateY(-25%) rotateX(35deg);
            transform: translateY(-25%) rotateX(35deg);
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
            transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

a.firma-home-animation {
    transition: transform .3s 3.5s ease-out;
    transform: translate3d(0, 100px,0);
}

.firma > span {
    display: block;
    font-weight: 500;
    font-size: 11px;
}

.firma > span.topline {
    display: block;
    margin: 0 0 6px auto;
    width: 39px;
    height: 2px;
    background-color: white;
    opacity: 0.92;
}

body.loaded .firma-home-animation {
    transform: translate3d(0,0,0);
}


.ie span.image.portrait-img{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;-webkit-box-flex: 1;
  -moz-box-flex: 1;
  width:7.5%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ie span.image{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;-webkit-box-flex: 1;
  -moz-box-flex: 1;
  width:6%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ie span.image.portrait-img img,
.ie span.image img{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;-webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
  -webkit-flex: 1;-ms-flex: 1;flex: 1;
}

.ie .fooddrinks-content .image {
    width: 97.6%;
}

.ie .img-div{
      width:600px;
}

.ie .img-div.portrait-img{
    width:300px !important
}

.ie #drinks-carousel span.image.portrait-img{
  width:6.5% !important
}

.ie .fooddrinks-content > div:nth-of-type(5) h1,
.ie .activities-content > div:nth-of-type(5) h1,
.ie .about-content > div:nth-of-type(5) h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    font-family: bebas;
    line-height: 0;
}

@media screen and (min-aspect-ratio: 16/8) {
    .tiles {
        width: 80%;
        height: 100%;
    }

}

@media screen and (max-aspect-ratio: 24/16) {

    .tiles {
        width: 80%;
        height: 60%;
    }

}

@media only screen and (max-height: 880px) {
  .overlay ul li {
    margin-bottom: 30px;
  }
  .overlay nav {
        font-size: 42px;
        line-height: 46px;
    }
    .overlay nav ul li:last-child a{
        font-size:34px !important;
    }
    .locat {
      font-size:13px;
      line-height: 18px;
    }


}

#popup {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    cursor: pointer;
    z-index: -10;
    opacity: 0;
}

#msg {
	position: absolute;
    width: 430px;
    height: 130px;
    background-color: #522E92;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    line-height: 1.4;
}

#msg > p {
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

#popup-close {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: 10px;
	right: 10px;
	background: url('../img/home/close-popup.png') no-repeat center center;
    background-size: cover;
}

#popup-close:hover {
	opacity: 0.6;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    #popup-close {
        background: url('../img/home/close-popup@2x.png') no-repeat center center;
        background-size: cover;
    }
}

body.loaded #popup {
    animation-name: showPopup;
    animation-duration: .3s;
    animation-delay: 3.8s;

    animation-fill-mode: forwards;
}

@keyframes showPopup {
    from {
        z-index: 2;
        opacity: 0;
    }
    to {
        z-index: 2;
        opacity: 1;
    }
}

@-webkit-keyframes showPopup {
    from {
        z-index: 2;
        opacity: 0;
    }
    to {
        z-index: 2;
        opacity: 1;
    }
}
