.animation-topToDown {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: translate3d(0, -120%,0);
}

.animation-DownToTop {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: translate3d(0, 120%,0);
}

.animation-DownToTop2 {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: translate3d(0, 20%,0);
}

.animation-DownToTop3 {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: translate3d(0, 50%,0);
}

.animation-topToDown2 {
    opacity: 0;
    transition: transform .3s .1s ease-out, opacity .3s .1s ease-out;
    transform: translate3d(0, -10%,0);
}

.animation-topToDown3 {
    opacity: 0;
    transition: transform .3s .1s ease-out, opacity .3s .1s ease-out;
    transform: translate3d(0, -50%,0);
}

.animation-topToDown4 {
    opacity: 0;
    transition: transform .3s .1s ease-out, opacity .3s .1s ease-out;
    transform: translate3d(0, -90%,0);
}

.animation-left {
    opacity: 0;
    transition: transform .3s .1s ease-out, opacity .3s .1s ease-out;
    transform: translate3d(-100%, 0,0);
}

.animation-right {
    opacity: 0;
    transition: transform .3s .1s ease-out, opacity .3s .1s ease-out;
    transform: translate3d(4%, 0,0);
}

.animation-fade {
    opacity: 0;
    transition: opacity 1.3s .1s ease-out;
}

.animation-delay-1 {
    transition-delay: .1s;
}

.animation-delay-4 {
    transition-delay: .4s;
}

.animation-delay-3 {
    transition-delay: .3s;
}

.animation-delay-5 {
    transition-delay: .5s;
}

.animation-delay-6 {
    transition-delay: .6s;
}

.animation-delay-7 {
    transition-delay: .7s;
}

.animation-delay-8 {
    transition-delay: .8s;
}

.animation-delay-9 {
    transition-delay: .9s;
}

.animation-delay-10 {
    transition-delay: 1s;
}

.animation-delay-11 {
    transition-delay: 1.1s;
}

.animation-delay-12 {
    transition-delay: 1.2s;
}

.animation-delay-12 {
    transition-delay: 1.2s !important;
}

.animation-delay-14 {
    transition-delay: 1.4s !important;
}

.animation-delay-16 {
    transition-delay: 1.6s !important;
}

.animation-delay-18 {
    transition-delay: 1.8s;
}

.animation-delay-20 {
    transition-delay: 2s;
}

.animation-delay-22 {
    transition-delay: 2.2s;
}

.animation-scale-1 {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: scale(1.8);
}

.animation-scale-2 {
    opacity: 0;
    transition: transform .4s .2s ease-out, opacity .4s .2s ease-out;
    transform: scale(4.8);
}



body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-topToDown,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-DownToTop,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-DownToTop2,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-DownToTop3,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-topToDown2,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-topToDown3,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-topToDown4,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-scale-1,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-scale-2,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-left,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-right,
body.loaded #fsvs-body > .swipeshow > .slides > li.slide.active .animation-fade  {
    opacity: 1;
    transform: translate3d(0,0,0);
}


html.fsvs body.loaded .animation-topToDown,
html.fsvs body.loaded .animation-DownToTop,
html.fsvs body.loaded .animation-DownToTop2,
html.fsvs body.loaded .animation-DownToTop3,
html.fsvs body.loaded .animation-topToDown2,
html.fsvs body.loaded .animation-topToDown3,
html.fsvs body.loaded .animation-topToDown4,
html.fsvs body.loaded .animation-scale-1,
html.fsvs body.loaded .animation-scale-2,
html.fsvs body.loaded .animation-left,
html.fsvs body.loaded .animation-right,
html.fsvs body.loaded .animation-fade{
    opacity: 1;
    transform: translate3d(0,0,0);
}






/*Blink Effect*/
.blink:hover { 
  animation-name: blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name:blink;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blink{  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
   100% { opacity: 1.0; }
}

@keyframes blink {  
  0% { opacity: 1.0; }
   50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}