@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "icon-font";
    src: url("fonts/icon-font.eot?53109656");
    src: url("fonts/icon-font.eot?53109656#iefix") format("embedded-opentype"),
    url("fonts/icon-font.woff?53109656") format("woff"),
    url("fonts/icon-font.ttf?53109656") format("truetype"),
    url("fonts/icon-font.svg?53109656#icon-font") format("svg");
}

@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans-100-webfont.eot");
    src: url("fonts/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans-100-webfont.woff2") format("woff2"), url("fonts/museosans-100-webfont.woff") format("woff"), url("fonts/museosans-100-webfont.ttf") format("truetype"), url("fonts/museosans-100-webfont.svg#museo_sans100") format("svg");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans-300-webfont.eot");
    src: url("fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans-300-webfont.woff2") format("woff2"), url("fonts/museosans-300-webfont.woff") format("woff"), url("fonts/museosans-300-webfont.ttf") format("truetype"), url("fonts/museosans-300-webfont.svg#museo_sans300") format("svg");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_500-webfont.eot");
    src: url("fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_500-webfont.woff2") format("woff2"), url("fonts/museosans_500-webfont.woff") format("woff"), url("fonts/museosans_500-webfont.ttf") format("truetype"), url("fonts/museosans_500-webfont.svg#museo_sans500") format("svg");
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_700-webfont.eot");
    src: url("fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_700-webfont.woff2") format("woff2"), url("fonts/museosans_700-webfont.woff") format("woff"), url("fonts/museosans_700-webfont.ttf") format("truetype"), url("fonts/museosans_700-webfont.svg#museo_sans700") format("svg");
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_900-webfont.eot");
    src: url("fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_900-webfont.woff2") format("woff2"), url("fonts/museosans_900-webfont.woff") format("woff"), url("fonts/museosans_900-webfont.ttf") format("truetype"), url("fonts/museosans_900-webfont.svg#museo_sans900") format("svg");
}



@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'bebas';
    src: url('fonts/BebasNeue.eot'); /* IE9 Compat Modes */
    src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/BebasNeue.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/BebasNeue.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/BebasNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/BebasNeue.svg#svgbebas') format('svg'); /* Legacy iOS */
}


body {
    background-color: #FFF;
    font-family: "museo_sans", Helvetica, sans-serif;
}

.orientation {
    display: none;
}

.icon-down-open-mini:before {
    content: "\e800";
}
.firma-menu{
    display: none;
}

nav ul li.mobile,
.menu-button .mobile{
    display: none !important;
}
nav ul li.desktop,
.menu-button .desktop{font-weight: 900;}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "icon-font";
    line-height: 1em;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.menu-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    width: 130px !important;
    height: 130px !important;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    line-height: 215px;
    transform: rotateZ(45deg) translate3d(0, -70%, 0);
}

.menu-button.home-animation {
    background-color: transparent;
    color: #FFF !important;
}

.menu-button:hover {
    color: #68FB98 !important;
}

.menu-button span span{
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    display: block;
    margin: auto;
    width: 2px;
    height: 26px;
    background-color: #68FB98;
}

/* FSVS */

.container {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.container:after {
    display: table;
    clear: both;
    content: "";
}

html.fsvs {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html.fsvs #fullpage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;


}

html.fsvs #fullpage > * {
    overflow: hidden;
    width: 100%;
    height: 100%;


}



html.fsvs #fp-nav li a {
    width: 18px !important;
    height: 18px !important;
    border-width: 2px !important;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

html.fsvs body #fp-nav li a.active,
html.fsvs body #fp-nav li a:hover {
  width: 18px !important;
  height: 18px !important;
  border-color: #fff;
}
html.fsvs #fp-nav ul li,
html.fsvs.fp-slidesNav ul li{
  width: 40px;
  height: 20px;
  list-style: none;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
html.fsvs #fp-nav ul li a span,
html.fsvs.fp-slidesNav ul li a span{
display: block;
width: 7px;
height: 7px;
border-radius: 100%;
background-color: #fff;
line-height: 7px;
}

html.fsvs #fp-nav ul li a.active span, html.fsvs.fp-slidesNav ul li a.active span{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff !important;
  margin: -4px 0 0 -4px;
}
html.fsvs #fp-nav ul li a span, html.fsvs.fp-slidesNav ul li a span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  margin: -4px 0 0 -4px;
}


html.fsvs body.fp-viewing-1 #fp-nav li a.active,
html.fsvs body.fp-viewing-1 #fp-nav li a:hover{
  border-color: #4A1D88 !important;
}
html.fsvs body.fp-viewing-1 #fp-nav ul li a span,
html.fsvs body.fp-viewing-1 #fp-nav ul li a.active span, html.fsvs.fp-slidesNav ul li a.active span{
  background-color:#4A1D88 !important;
}



html.fsvs #fsvs-pagination {
    position: fixed;
    top: 50%;
    right: -100px;
    z-index: 2;
    margin: 0;
    padding: 8px 4px;
    width: 32px;
    height: auto;
}

html.fsvs #fsvs-pagination li {
    margin: 0 0 2px 0;
    width: 40px;
    height: 20px;
    list-style: none;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

html.fsvs #fsvs-pagination li > span {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 100%;
    line-height: 15px;
}

html.fsvs #fsvs-pagination li > span > span {
    display: block;
    margin: 2px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #FFF;
    line-height: 7px;
}

html.fsvs #fsvs-pagination li.active > span {
    border: 2px solid white;
}

html.fsvs #fsvs-pagination li.active > span > span {
    background: white;
}

html.fsvs #fsvs-pagination li:last-child {
    margin: 0;
}


/* DEMO */

*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

#page-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display:         flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity .3s .6s linear;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    justify-items: center;
}

body.loaded #page-loader {
    opacity: 0;
    -webkit-animation: move .6s .6s linear;
    animation: move .6s .6s linear;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        z-index: 9999;
    }
    to {
        z-index: 0;
    }
}

@-webkit-keyframes move {
    from {
        z-index: 9;
    }
    to {
        z-index: 0;
    }
}

.loading-gif {
    height: 150px;
}

/* SHB CONTENT */
.center-wrapper {
    position: relative;
}
.slide-1 .center-wrapper {

    min-width: 990px;
    width: 990px;
}


p > b {
    font-weight: 700;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow-slide {
    transition: transform .0s .8s linear;
    transform: translate3d(0, -50%, 0);
}

.slideshow-slide.active {
    transition: transform .7s 0s ease-out;
    transform: translate3d(0, 0, 0);
}



.events-content {
    z-index: 2;
}

/* WHEELS */

.wheels-content > div {
    position: relative;
    display:         flex;
    display: -webkit-flex;
    background-color: #FFF;
    color: #0A0A0A;
    font-size: 13px;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    justify-items: center;
}

.wheels-content > div:first-of-type {
    background: url("../img/2-2.jpg") center center/cover;
    transition: transform .6s .3s ease-out;
    transform: scale(1.1);
}

body.loaded .wheels-content > div:first-of-type.active {
    transform: scale(1);
}

.img-wrap {
    position: relative;
    width: 80.0390625%;
    height: 80.125%;
    background: url("../img/2-2b.jpg") center center/cover;
    opacity: 0;
    transition: opacity .6s .3s ease-out, transform .6s .3s ease-out;
    transform: translate3d(0, -20%, 0);
}

body.loaded .wheels-content > div:first-of-type.active .img-wrap {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.portada-title {
    position: absolute;
    right: -2%;
    bottom: 0;
    margin: auto;
    top: 0;
    height: 72vh;
    opacity: 0;
    transition: opacity .6s .3s ease-out, transform .6s .3s ease-out;
    transform: translate3d(20%, 0, 0);
}

body.loaded .wheels-content > div:first-of-type.active .portada-title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.down {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 39px;
    height: 110px;
    text-align: center;
}

.down a {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    height: 81px;
    opacity: 0;
    transition: opacity .6s .9s ease-out, transform .6s .9s ease-out;
    transform: translate3d(0, -50%, 0);
}

.lang-switch {
    position: absolute;
    top: 26px;
    left: 30px;
    z-index: 2;
    color: white;
    font-size: 12px;
    line-height: 24px;
    opacity: 0;
}
.lang-switch.menu-lang {
    color: #522E92;
}
.lang-switch a {
    position: relative;
    display: inline-block;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .2s;
    transition: color .2s;
    font-style: italic;
}
.lang-switch span{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  font-weight: 300;
}
.lang-switch a .border{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px auto -2px auto;
    width: 0;
    height: 2px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}

.lang-switch a:hover .border,
.lang-switch a.selected .border {
    width: 100%;
}

body.loaded .lang-switch {
    opacity: 1;
}

body.loaded .wheels-content > div:first-of-type.active .down a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.down a:hover {
    opacity: .6;
}

.down a img {
    margin: auto;
    height: 100%;
}

.down > span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #FFF;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1280px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
only screen and (min-resolution: 192dpi) and (min-width: 1280px),
only screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .wheels-content > div:first-of-type {
        background: url("../img/2-2@2x.jpg") center center/cover;
    }
    .img-wrap {
        background: url("../img/2-2b@2x.jpg") center center/cover;
    }
}

.wheels-content .slide-1 {
    z-index: 3;
}

.wheels-content .slide-1 h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    margin-left: 34px;
    width: 250px;
    background-color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 73px;
    line-height: .8em;
}

.wheels-content .slide-1 h1 {
    opacity: 0;
    transition: opacity .0s .8s ease-out, transform .0s .8s ease-out;
    transform: translate3d(0, 100%, 0);
}

.wheels-content .slide-1.active h1 {
    opacity: 1;
    transition: opacity .7s .0s ease-out, transform .7s .0s ease-out;
    transform: translate3d(0, 0, 0);
}

.wheels-content .slide-1 h1 > span {
    position: relative;
    top: -20px;
    letter-spacing: .1em;
    font-weight: 900;
    font-size: 30px;
}

.wheels-content .slide-1 p {
    position: relative;
    left: 274px;
    padding-right: 20px;
    padding-left: 40px;
    width: 335px;
    background-color: #FFF;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 300;
    font-size: 13px;
    line-height: 2.3em;
    opacity: 0;
    transition: opacity .0s .8s ease-out, transform .0s .8s ease-out;
    transform: translate3d(0, 100%, 0);
}

.wheels-content .slide-1 p span {
    font-weight: 300;
}

.wheels-content .slide-1.active p {
    opacity: 1;
    transition: opacity .7s .0s ease-out, transform .7s .0s ease-out;
    transform: translate3d(0, 0, 0);
}

.wheels-content .slide-1 img {
    position: absolute;
    right: 0;
    bottom: -15px;
    height: 220px;
}

.wheels-content .slide-1 img {
    opacity: 0;
    transition: opacity .0s .8s ease-out, transform .0s .8s ease-out;
    transform: translate3d(0, 100%, 0);
}

.wheels-content .slide-1.active img {
    opacity: 1;
    transition: opacity .7s .0s ease-out, transform .7s .0s ease-out;
    transform: translate3d(0, 0, 0);
}

.green-border {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    margin: auto;
    width: 696px;
    height: 333px;
    border: 15px solid #68FB98;
    opacity: 0;
    transition: opacity .5s .3s ease-out, transform .5s .3s ease-out;
    transform: scale(1.4);
}

.wheels-content .slide-1.active .green-border {
    opacity: 1;
    transform: scale(1);
}

.wheels-content .slide-1 > div {
    position: relative;
    top: 0;
}

.wheels-content .slide-1.active > div {
    opacity: 1;
}

.wheels-contacto {
    background: url("../img/bg-contacto.jpg") center center/cover;
}

.center-wrapper {
    text-align: center
}
.wheels-contacto .line {
    width: 100px;
    height: 4px;
    background-color: #68FB98;
    margin:0 auto;
}

.wheels-contacto div span.top{
    font-size: 99px;
    line-height: 76px;
}
.wheels-contacto div span.bottom{
    font-size: 80px;
    line-height: 76px;
}

.wheels-contacto h1 {
    margin: 25px 0 -4px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    font-family: bebas;
    line-height: 76px;
}
.wheels-contacto p {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1280px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
only screen and (min-resolution: 192dpi) and (min-width: 1280px),
only screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .wheels-contacto {
        background: url("../img/bg-contacto@2x.jpg") center center/cover;
    }
}

.wheels-contacto > div {
    position: relative;
}

.wheels-contacto h1 {
    position: relative;
    top: 80px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 100;
    font-size: 63px;
    opacity: 0;
}

.wheels-contacto div a,
.wheels-contacto div span {
    display: block;
    font-size: 13px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 500;
    vertical-align: baseline;


}

.wheels-contacto div a {
    display: inline-block;
}

.wheels-contacto a:hover {
    opacity: .6;
}

.wheels-contacto div a b{
  font-size:16px;
  margin-top: 0 !important;
}
.wheels-contacto div b {
  font-size:20px;
  display: block;

}
.wheels-contacto div span {
    position: relative;
    top: 80px;
    opacity: 0;
}

.wheels-contacto h1,
.wheels-contacto div span {
    top: 0;
    opacity: 1;
    /*transition: opacity .4s .6s ease-out, top .4s .6s ease-out;*/
}

.wheels-contacto b{
    color: #68fb98;
    font-size: 20px;
    text-transform: uppercase;
}

.wheels-contacto.active div span:first-of-type {
    transition-delay: .8s;
}

.wheels-contacto.active div span:nth-of-type(2) {
    transition-delay: 1s;
}

.wheels-contacto.active div span:last-of-type {
    transition-delay: 1.2s;
}

.wheels-line {
    position: relative;
    margin-top: 36px;
    margin-left: 220px !important;
    width: 135px;
    height: 4px;
    background-color: #68FB98;
}

#next-events-wrapper {
    position: relative;
    z-index: 10;
    width:70%;
    margin:auto;
}

.next-event {
    position: relative;
    z-index: 9999;

    margin: auto;
    margin-top: -130px;
    width: 886px;
    color: #68FB98;
    text-align: left;
    font-weight: 900;
    font-size: 25px;
    opacity: 0;
    transition: opacity .4s .4s ease-out, transform .4s .4s ease-out;
    transform: translate3d(0, -50%, 0);
}

.active .next-event {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.next-event div {
    width: 210px;
    text-align: center;
}

.next-event h3 {
    margin: auto;
    width: 95px;
    letter-spacing: .1em;
    font-weight: 900;
}

.next-event span {
    position: relative;
    display: block;
    margin: 13px auto 11px auto;
    width: 1px;
    height: 37px;
    background-color: #68FB98;
}

.event {
    position: relative;
    top: 80px;
    z-index: 99999;
    display: inline-block;
    width: 210px;
    height: 252px;
    border-top: 26px solid #68FB98;
    background-color: white;
    text-align: center;
    opacity: 0;
    transition: opacity .0s .6s ease-out, top .0s .6s ease-out;
    vertical-align: top;
    line-height: 22px;
}

.active .event {
    top: 0;
    opacity: 1;
    transition: opacity .4s .6s ease-out, top .4s .6s ease-out;
}

.event:nth-of-type(1) {
    border-top-color: #4A1D88;
}

.event:not(:last-of-type) {
    margin-right: 14px;
}

.active .event:nth-of-type(2) {
    transition-delay: .8s;
}
.active .event:nth-of-type(3) {
    transition-delay: 1s;
}
.active .event:nth-of-type(4) {
    transition-delay: 1.2s;
}

.event h3 {
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 95%;
    color: #0A0A0A;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 900;
    font-size: 25px;
}

.event p {
    text-align: center;
    letter-spacing: .1em;
    font-weight: 300;
    font-size: 18px;
}

.event p.month {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 26px;
}

.event a.location {
    color: #848484;
    letter-spacing: .1em;
    font-weight: 300;
    font-size: 15px;
}

.event a.location img {
    position: relative;
    top: 3px;
    display: inline-block;
    height: 16px;
}

.event-line {
    position: relative;
    display: block;
    margin: 0 auto 5px auto;
    width: 47px;
    height: 3px;
    background-color: #68FB98;
}

.event-moreinfo {
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #000;
    transition: all .1s linear;
}

.event-moreinfo img {
    position: relative;
    margin: 13px auto 0 auto;
    height: 14px;
}

.event a:hover {
    opacity: .6;
}

.event-moreinfo:hover {
    background-color: #68FB98;
    opacity: 1 !important;
}

.hide-events {
    position: absolute;
    right: 34px;
    bottom: 32px;
    z-index: 10;
    width: 29px;
}

.hide-events:hover {
    opacity: .6;
}

.hide-events img {
    width: 100%;
}

.events-caption {
    position: absolute;
    right: 34px;
    bottom: 55px;
    color: #0A0A0A;
    letter-spacing: .1em;
}

.events-caption h3 {
    position: relative;
    float: right;
    margin-bottom: 5px;
    padding-right: 10px;
    width: 278px;
    height: 33px;
    background-color: #FFF;
    text-align: right;
    font-weight: 900;
    font-size: 26px;
    line-height: 34px;
}

.events-caption p {
    position: relative;
    clear: right;
    padding-right: 10px;
    color: #FFF;
    font-weight: 100;
    font-size: 40px;
}

.wheels-slide-caption {
    position: absolute;
    bottom: 40px;
    left: 80px;
    z-index: 9999;
    color: #FFF;
    font-weight: 100;
    font-size: 16px;
}

.wheels-contacto div a.firma {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 100px;
    color: white;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-size: 12px;
    line-height: 1em;
    opacity: .2;
}

.wheels-contacto div a.firma > span {
    display: block;
    font-weight: 500;
    font-size: 11px;
    line-height: 1em;
}

.wheels-contacto div a.firma > span.topline {
    display: block;
    margin: 0 0 6px auto;
    width: 39px;
    height: 2px;
    background-color: white;

}

/* Menu style */
/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: -webkit-flex;
    display:         flex;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Overlay closing cross */
.overlay .overlay-close {
  position: absolute;
  top: 19px;
  right: 24px;
  z-index: 999999;
  overflow: hidden;
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  background: url(../img/close@2x.png) no-repeat center center;
  background-size: cover;
  color: transparent;
  text-indent: 200%;
  -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.overlay .overlay-close:hover {
    opacity: 1;
}
.overlay nav ul li:last-child a {
    font-size: 26px;
}

@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .overlay .overlay-close {
        background: url(../img/close@2x.png) no-repeat center center;
        background-size: cover;
    }
}

.overlay nav {
    position: relative;
    text-align: center;
    font-size: 42px;
	line-height: 46px;

}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    margin-bottom: 30px;
}

.overlay ul li a {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    color: #441984;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .2s;
    transition: color .2s;
    -webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
}
.overlay nav ul li:last-child {
    margin-top: 40px;
}


.overlay ul li a .border {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0px auto -4px auto;
        width: 0;
        height: 4px;
        background-color: #68FB98;
        transition: width .2s ease-out;
    }

    .overlay ul li a:hover .border {
        width: 100%;
    }

    .overlay ul li .border {
        width: 60px;
        opacity: 1;
        position: absolute;
        right: 0;
        left: 0;
        margin: -22px auto 0 auto;
        height: 2px;
        background-color: #68FB98;
        transition: width .2s ease-out;
    }
@media (-webkit-min-device-pixel-ratio: 2){
  .wheels-contacto .location a b{
      font-size: 16px !important;
      margin-top: 5px !important;
  }
  .wheels-contacto .location b.telephone{
      font-size: 20px !important;
  }
}
    @media only screen and (min-width: 1600px) {
      .wheels-contacto .location a b{
          font-size: 16px !important;
          margin-top: 5px !important;
      }
      .wheels-contacto .location b.telephone{
          font-size: 20px !important;
      }
      .overlay ul li {
        margin-bottom: 30px;
      }
        .overlay nav {
            font-size: 70px;
            line-height: 80px;
        }

        .overlay nav ul li:last-child a {
    font-size: 58px;
}
    }

    .overlay ul li a:hover,
    .overlay ul li a:focus {
        outline: none;
        color:#68FB98;
    }

    .menu-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: inline-block;
        margin: auto;
        text-align: center;
        transition: transform .3s ease-out;
        transform: translate3d(0, 100%, 0);
    }

    .open .menu-footer {
        transform: translate3d(0,0,0);
    }

    .menu-footer ul {
        display: block;
    }

    .menu-footer ul:first-of-type {
        margin-bottom: 5px;
    }

    .menu-footer ul:last-of-type {
        margin-bottom: 20px;
    }

    .menu-footer ul li:not(:last-of-type) {
        margin-right: 20px;
    }

    .menu-footer ul li {
        margin-bottom: 0 !important;
    }

    .menu-footer ul li,
    .menu-footer ul li a {
        display: inline-block;
        height: auto;
        color: #522E92;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
    }

    .menu-footer ul:first-of-type li,
    .menu-footer ul:first-of-type li a {
        font-weight: 500;
    }

    .menu-footer ul li a:hover {
        border: 0 !important;
        opacity: .6;
    }


    .menu-bottom {
        position: absolute;
        right: 0;
        bottom: 30px;
        left: 0;
        display: inline-block;
        margin: auto;
        color: white;
        list-style: none;
        text-align: center;
        font-size: 19px;
    }

    .menu-bottom li {
        display: inline-block;
        margin-right: 30px;
    }

    .menu-bottom li:last-of-type {
        margin-right: 0;
    }

    .menu-bottom li a,
    .menu-bottom li a,
    .menu-bottom li a {
        color: white;
        text-align: center;
        font-weight: 900 !important;
        font-size: 19px;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
    }

    /* Menu Rollover */

    /* Effects */
    .overlay-hugeinc {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .5s, visibility 0s .5s;
        transition: opacity .5s, visibility 0s .5s;
    }

    .overlay-hugeinc.open {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }

    .overlay-hugeinc h1,
    .overlay-hugeinc h2,
    .overlay-hugeinc .adress-holder {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        transition-delay: .5s;
    }

    .overlay-hugeinc .line {
        -webkit-transition: width .2s;
        transition: width .2s;
        transition-delay: .8s;
    }

    .overlay-hugeinc.open h1,
    .overlay-hugeinc.open h2,
    .overlay-hugeinc.open .adress-holder,
    .overlay-hugeinc.open .contact p,
    .overlay-hugeinc.open .adress {
        opacity: 1;
    }

    .overlay-hugeinc nav {
        -webkit-perspective: 1200px;
        perspective: 1200px;
    }

    .overlay-hugeinc nav ul {
        opacity: .4;
        -webkit-transition: -webkit-transform .5s, opacity .5s;
        transition:         transform .5s, opacity .5s;
        -webkit-transform: translateY(-25%) rotateX(35deg);
        transform: translateY(-25%) rotateX(35deg);
    }

    .overlay-hugeinc.open nav ul {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    .overlay-hugeinc.close nav ul {
        -webkit-transform: translateY(25%) rotateX(-35deg);
        transform: translateY(25%) rotateX(-35deg);
    }

    @media screen and (max-height: 30.5em) {
        .overlay nav {
            height: 70%;
        }
        .overlay ul li {
            min-height: 34px;
        }
    }

    @media only screen and (max-width: 990px) {
        html.fsvs #fsvs-pagination {
            display: none;
        }

        .wheels-content .slide-1 img {
            display: none;
        }

        .wheels-content .slide-1 p {
            left: 433px;
        }

        .wheels-content .slide-1 h1 {
            left: 150px;
        }

        .next-event {
                width: 210px;
        }

        .event:not(:first-of-type) {
            display: none;
        }

    }





/*Parallax*/

.center-wrapper{
  position: relative;
  margin:auto;
  width: 990px;
  min-width: 990px;
}

.ie .center-wrapper{
  margin:25vh auto;
}



body #fullpage > div:first-of-type{
  transform: scale(1);
}
body.loaded .fullpage #portada {
  margin: 0 auto;
  width: 100vw;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}


body #fullpage > div:first-of-type #portada .poster {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  transition: all .6s .6s ease-out;
  -webkit-transition: all .6s .6s ease-in-out;
  -o-transition: all .6s .6s ease-in-out;
  transform: translate3d(0px, -80%, 0px);
  opacity: 0;
}
body.loaded #fullpage > div:first-of-type #portada .poster {
  -o-transition: 0s;
  -webkit-transition: 0s;
  transition: 0s;
}





.fullpage #portada .poster div[class*="layer-"] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  -o-transition: 0s;
  -webkit-transition: 0s;
  transition: 0s;
}
.transitionLayer{
  transition: all .6s .3s ease-out !important;
  -webkit-transition: all .6s .3s ease-out !important;
  -o-transition: all .6s .3s ease-out !important;
}
.fullpage #portada .poster-wrapper{
  height:100vh;
  position: relative;
}
.fullpage #portada .poster .layer-bg {
  background-position: center;
  background-size:contain !important;
  height: 80vh;
  top:0;
  background-size: cover !important;
  margin: auto;
}
.fullpage.wheels-content #portada .poster .layer-bg {
  background: url("../img/2-2b.jpg") center center/cover;
}



body.loaded #fullpage > div.slide #portada  {
  transition: transform .6s .3s ease-out;
  -webkit-transition: transform .6s .3s ease-out;
  -o-transition: transform .6s .3s ease-out;
  transform: scale(1.1);
}
body.loaded #fullpage > div.slide.active #portada{
  transform:none;
}

body.loaded #fullpage > div:first-of-type.active #portada .poster {
    transition: all .6s .3s ease-out;
    -webkit-transition: all .6s .3s ease-out;
    -o-transition: all .6s .3s ease-out;
    transform: translate3d(0px, 0%, 0px);
    opacity: 1;
}

body.loaded #fullpage > div:first-of-type.active #portada .poster .portada-title{
  position: absolute;
  height: 72vh;
  top:0;
}

body.loaded #fullpage > div:first-of-type.active #portada .poster .portada-title img{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

    @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .orientation {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999 !important;
            display: flex;
            width: 100%;
            height: 100%;
            background-color:#441984;
            opacity: 1 !important;
            align-items: center;
            justify-content: center;


        }

        .orientation img {
            position: relative;
            height: 100%;
        }
    }



    @media only screen and (max-width: 480px) {

      .overlay ul li a {
          -webkit-transition: none !important;
          transition: none !important;
      }
      .menu-button{height:28px !important}
        nav ul li.mobile{display: block !important;}
        nav ul li.desktop,
        .menu-button span.desktop{
            display: none !important;
        }

        .menu-button {
            position: fixed;
            top: 16px;
            right: 20px;
            z-index: 3;
            background-color: transparent;
            width: 28px !important;
            height: 25px !important;
            color: #000;
            text-align: center;
            font-weight: 900;
            transform: none;
            background: url(../img/menu.png) scroll no-repeat center;
            background-size: contain;
        }

        .menu-button img{
            width: 28px;
        }
        .menu-button span.desktop span{display: none}

        .wheels-contacto .line{
            width:90px;
            height:3px;
        }
        .wheels-contacto div span.top{
            font-size: 70px;
            line-height: 60px
        }
        .wheels-contacto div span.top.animation-DownToTop,
        .wheels-contacto div span.bottom.animation-DownToTop,
        .wheels-contacto div .location{
              transform: none;
              opacity: 1;
        }
        .wheels-contacto div span.bottom{
            font-size: 40px;
            line-height: 40px;
        }

        .wheels-contacto .location a b.email{
            font-size: 14px;
        }
        .wheels-contacto .location b.telephone{
            font-size: 20px;
        }
        nav ul li.mobile{
            display: block !important;
        }
        nav ul li.desktop{
            display: none !important;
        }

        .img-wrap {
            width: 92%;
            top: -20px;
            height: 88%;
            background: url("../img/2-2b-small.jpg") left center/cover;
        }

        .wheels-content > div:first-of-type {
            background: url("../img/2-2-small.jpg") center center/cover;
        }

        .portada-title {
            right: 2%;
            height: auto;
        }

        .slide-1 {
            align-items: flex-start;
        }

        .green-border {
            display: none;
        }

        .wheels-content .slide-1 h1 {
            position: relative;
            left: 0;
            margin: 10px auto;
            width: 185px;
            font-size: 25px;
        }

        .wheels-content .slide-1.active h1 {
            transition: none;
            transform: none;
        }

        .wheels-content .slide-1 h1 > span {
            top: 0;
            font-size: 15px;
        }

        .wheels-content .slide-1 p {
            left: 0;
            margin: 0 auto;
            padding-right: 40px;
            padding-left: 40px;
            text-align: justify;
            font-size: 12px;
            line-height: 2em;
        }

        .wheels-content .slide-1.active p {
            transition: none;
            transform: none;
        }

        .wheels-content .slide-1 p span {
            display: none;
        }

        .next-event {
              width: 210px;
              margin-top: -35px;
        }

        .next-event h3 {
              width: 200px;
        }

        .next-event span {
			margin:5px auto 11px auto;
			height: 18px;
        }

        .event:not(:first-of-type) {
            display: none;
        }

        .events-caption {
            display: none;
        }


        .wheels-contacto > div {
            margin-top: -10%;
            width: 100%;
            text-align: center;

        }

        .wheels-contacto h1 {
            margin-left: 0;
            font-size: 41px;
            font-family: "bebas" !important;
        }

        .wheels-contacto div span:not(:first-of-type) {
            margin-left: 0;
        }

        .wheels-contacto a b{
            font-size: 16px;
        }
        .wheels-contacto b{
            font-size: 20px;
        }

        .wheels-line {
            margin-top: 10px;
            margin-right: auto !important;
            margin-left: auto !important;
            width: 100px;
        }

        .firma {
            width: 200px;
            border-bottom-width: 4px;
            font-size: 10px;
        }

        .overlay nav {
            position: relative;
            text-align: center;
            font-size:28px;
            line-height: 25px;
        }

        .overlay ul li a {
            height: auto !important;
        }

        .overlay ul li {
            display: block;
        }

        .menu-footer {
            display: none;
        }

        .menu-bottom{
            display: none;
        }

        .firma-menu {
            position: absolute;
            right: 0;
            bottom: 10px;
            left: 0;
            color: #441984;
            text-align: center;
            font-weight: 900;
            font-size: 9px;
            opacity: 0.4;
            display: block;
        }
.lang-switch {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: white;
    font-size: 12px;
    line-height: 24px;
    opacity: 0;
    transition: opacity .3s .5s ease-out, transform .3s .5s ease-out;
}

    }



    /*Animations*/

    .blink:hover {
      animation-duration: 1s;
      animation-name: blink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
  }

  @keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

50% {
    opacity:0.3;
}

100% {
    opacity:1.0;
}

    @media only screen and (max-width: 1100px) {
    .menu-bottom li {
        display: inline-block;
        margin-right: 20px;
    }
    .menu-bottom li a,
    .menu-bottom li a,
    .menu-bottom li a {
        color: white;
        text-align: center;
        font-weight: 900 !important;
        font-size: 15px;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
    }


}

    @media only screen and (max-width: 900px) {
    .menu-bottom {
        display: none;
        margin-right: 20px;
    }
    .menu-bottom li a,
    .menu-bottom li a,
    .menu-bottom li a {
        color: white;
        text-align: center;
        font-weight: 900 !important;
        font-size: 15px;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
    }


}

    @media only screen and (max-width: 750px) {
        .wheels-content .slide-1 h1 {
            position: relative;
            left: 0;
            margin: 10px auto;
            width: 185px;
            font-size: 25px;
        }

        .wheels-content .slide-1.active h1 {
            transition: none;
            transform: none;
        }

        .wheels-content .slide-1 h1 > span {
            top: 0;
            font-size: 15px;
        }

        .wheels-content .slide-1 p {
            left: 0;
            margin: 0 auto;
            padding-right: 40px;
            padding-left: 40px;
            text-align: justify;
            font-size: 12px;
            line-height: 2em;
        }

        .wheels-content .slide-1.active p {
            transition: none;
            transform: none;
        }

        .wheels-content .slide-1 p span {
            display: none;
        }
                .green-border {
            display: none;
        }
        
        .slide-1 .center-wrapper {
	        min-width: 0;
	        width: auto;
	        
		}
		
		.center-wrapper {
	        min-width: 0;
	        width: auto;
	        
		}



}

@media only screen and (max-height: 880px) {
  .overlay ul li {
    /*margin-bottom: 30px;*/
        margin-bottom: 15px;
  }
  .overlay nav {
        /*font-size: 42px;
        line-height: 46px;*/
        font-size: 28px;
        line-height: 1;
    }
    .overlay nav ul li:last-child a{
        /*font-size:34px !important;*/
        font-size: 26px !important;
    }
    .locat {
      font-size:13px;
      line-height: 18px;
    }


}



