/**
 *
 * slippry v1.3.1 - Responsive content slider for jQuery
 * http://slippry.com
 *
 * Authors: Lukas Jakob Hafner - @saftsaak
 *          Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2015, booncon oy - http://booncon.com
 *
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
/* kenBurns animations, very basic */
@-webkit-keyframes left-right {
    0% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
    100% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
}
@-moz-keyframes left-right {
    0% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
    100% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
}
@-ms-keyframes left-right {
    0% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
    100% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
}
@keyframes left-right {
    0% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
    100% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
}
@-webkit-keyframes right-left {
    0% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
    100% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
}
@-moz-keyframes right-left {
    0% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
    100% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
}
@-ms-keyframes right-left {
    0% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
    100% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
}
@keyframes right-left {
    0% {
        -webkit-transform: translateY(0%) translateX(10%);
           -moz-transform: translateY(0%) translateX(10%);
            -ms-transform: translateY(0%) translateX(10%);
                transform: translateY(0%) translateX(10%);
    }
    100% {
        -webkit-transform: translateY(-20%) translateX(-10%);
           -moz-transform: translateY(-20%) translateX(-10%);
            -ms-transform: translateY(-20%) translateX(-10%);
                transform: translateY(-20%) translateX(-10%);
    }
}
/* added to the original element calling slippry */
.sy-box {
    width: 100%;
    height: 100%;
}
.sy-box.sy-loading {
    min-height: 40px;
    background: url("/images/sy-loader.gif") 50% 50% no-repeat;
    -webkit-background-size: 32px;
       -moz-background-size: 32px;
         -o-background-size: 32px;
            background-size: 32px;
}
.sy-box.sy-loading .sy-slides-wrap,
.sy-box.sy-loading .sy-pager {
    visibility: hidden;
}

/* element that wraps the slides */
.sy-slides-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.sy-slides-wrap:hover .sy-controls {
    display: block;
}

/* element that crops the visible area to the slides */
.sy-slides-crop {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* list containing the slides */
.sy-list {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sy-list.horizontal {
    -webkit-transition: left ease;
       -moz-transition: left ease;
         -o-transition: left ease;
            transition: left ease;
}
.sy-list.vertical {
    -webkit-transition: top ease;
       -moz-transition: top ease;
         -o-transition: top ease;
            transition: top ease;
}

/* single slide */
.sy-slide {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.sy-slide.kenburns {
    left: -20%;
    width: 140%;
}
.sy-slide.kenburns.useCSS {
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
}
.sy-slide.kenburns.useCSS.sy-ken:nth-child(1n) {
    -webkit-animation-name: left-right;
       -moz-animation-name: left-right;
         -o-animation-name: left-right;
            animation-name: left-right;

    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
         -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.sy-slide.kenburns.useCSS.sy-ken:nth-child(2n) {
    -webkit-animation-name: right-left;
       -moz-animation-name: right-left;
         -o-animation-name: right-left;
            animation-name: right-left;

    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
         -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.sy-slide.sy-active {
    z-index: 3;
}
.sy-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    object-fit: cover;
}
.sy-slide > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.sy-slide > a > img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    object-fit: cover;
}

/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sy-controls li {
    position: absolute;
    z-index: 33;
    width: 10%;
    height: 100%;
    min-width: 4.2em;
}
.sy-controls li.sy-prev {
    top: 0;
    left: 0;
}
.sy-controls li.sy-prev a:after {
    background-position: -5% 0;
}
.sy-controls li.sy-next {
    top: 0;
    right: 0;
}
.sy-controls li.sy-next a:after {
    background-position: 105% 0;
}
.sy-controls li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}
.sy-controls li a:link,
.sy-controls li a:visited {
    opacity: .4;
}
.sy-controls li a:hover,
.sy-controls li a:focus {
    opacity: .8;
    outline: none;
}
.sy-controls li a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.8em;
    height: 2.8em;
    margin-top: -1.4em;
    margin-left: -1.4em;
    font-weight: 800;
    line-height: 2.8em;
    content: "";
    text-align: center;
    text-indent: 0;
    color: #111;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #FFF;
    background-image: url("/images/arrows.svg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
@media only screen and (max-device-width: 600px) {
    .sy-controls {
        display: block;
    }
    .sy-controls li {
        min-width: 2.1em;
    }
    .sy-controls li a:after {
        width: 1.4em;
        height: 1.4em;
        margin-top: -.7em;
        margin-left: -.7em;
    }
}

/* captions, styled fo the overlay variant */
.sy-caption-wrap {
    position: absolute;
    bottom: 2em;
    left: 50%;
    z-index: 12;
}
.sy-caption-wrap .sy-caption {
    position: relative;
    left: -50%;
    padding: .4em 1em;
    color: #FFF;
    -webkit-border-radius: 1.2em;
       -moz-border-radius: 1.2em;
            border-radius: 1.2em;
    background-color: rgba(0, 0, 0, .54);
}
.sy-caption-wrap .sy-caption a:link,
.sy-caption-wrap .sy-caption a:visited {
    font-weight: 600;
    text-decoration: none;
    color: #E24B70;
}
.sy-caption-wrap .sy-caption a:hover,
.sy-caption-wrap .sy-caption a:focus {
    text-decoration: underline;
}
@media only screen and (max-device-width: 600px), screen and (max-width: 600px) {
    .sy-caption-wrap {
        bottom: .4em;
        left: 0;
    }
    .sy-caption-wrap .sy-caption {
        left: 0;
        padding: .2em .4em;
        font-size: .92em;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
}

/* pager bubbles */
.sy-pager {
    display: block;
    width: 100%;
    padding: 0;
    margin: 1em 0 0;
    overflow: hidden;
    list-style: none;
    text-align: center;

    *zoom: 1;
}
.sy-pager li {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 1em 0 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.sy-pager li.sy-active a {
    background-color: #E24B70;
}
.sy-pager li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #CCC;
    -webkit-background-size: 2em;
       -moz-background-size: 2em;
         -o-background-size: 2em;
            background-size: 2em;
}
.sy-pager li a:link,
.sy-pager li a:visited {
    opacity: 1.0;
}
.sy-pager li a:hover,
.sy-pager li a:focus {
    opacity: .6;
}

/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
    width: 100%;
}
.sy-filler.ready {
    -webkit-transition: padding 600ms ease;
       -moz-transition: padding 600ms ease;
         -o-transition: padding 600ms ease;
            transition: padding 600ms ease;
}
