@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans-100-webfont.eot");
    src: url("fonts/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans-100-webfont.woff2") format("woff2"), url("fonts/museosans-100-webfont.woff") format("woff"), url("fonts/museosans-100-webfont.ttf") format("truetype"), url("fonts/museosans-100-webfont.svg#museo_sans100") format("svg");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans-300-webfont.eot");
    src: url("fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans-300-webfont.woff2") format("woff2"), url("fonts/museosans-300-webfont.woff") format("woff"), url("fonts/museosans-300-webfont.ttf") format("truetype"), url("fonts/museosans-300-webfont.svg#museo_sans300") format("svg");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_500-webfont.eot");
    src: url("fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_500-webfont.woff2") format("woff2"), url("fonts/museosans_500-webfont.woff") format("woff"), url("fonts/museosans_500-webfont.ttf") format("truetype"), url("fonts/museosans_500-webfont.svg#museo_sans500") format("svg");
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_700-webfont.eot");
    src: url("fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_700-webfont.woff2") format("woff2"), url("fonts/museosans_700-webfont.woff") format("woff"), url("fonts/museosans_700-webfont.ttf") format("truetype"), url("fonts/museosans_700-webfont.svg#museo_sans700") format("svg");
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: "museo_sans";
    src: url("fonts/museosans_900-webfont.eot");
    src: url("fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_900-webfont.woff2") format("woff2"), url("fonts/museosans_900-webfont.woff") format("woff"), url("fonts/museosans_900-webfont.ttf") format("truetype"), url("fonts/museosans_900-webfont.svg#museo_sans900") format("svg");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "bebas";
    src: url("fonts/BebasNeue.otf");
}

@media screen and (orientation:landscape) {
   body > * {
       display: none !important;
   }

   body {
        background: url('../img/landscape.jpg') center center/cover no-repeat !important;

   }
}

body {
background-color: #242424 !important;
/*background: url('../img/bg-home.jpg') center center/cover no-repeat;*/
font-family: "museo_sans", Helvetica, sans-serif;
}

.lang-switch {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: white;
    font-size: 12px;
    line-height: 24px;
    opacity: 0;
    transition: opacity .3s .5s ease-out, transform .3s .5s ease-out;
}

.lang-switch.menu-lang {
    color: #522E92;
}

.lang-switch span {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    font-weight: 300;
}

.lang-switch a {
    display: inline-block;
    font-weight: 900;
    font-style: italic;
    line-height: 14px;
}

.lang-switch a.selected {
    border-bottom: 2px solid #68FB98;
}

body.loaded .lang-switch {
    opacity: 1;
}

#page-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display:         flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity .3s .6s linear;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    justify-items: center;
}

body.loaded #page-loader {
    opacity: 0;
    -webkit-animation: move .6s .6s linear;
            animation: move .6s .6s linear;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@keyframes move {
    from {
        z-index: 10;
    }
    to {
        z-index: 0;
    }
}

@-webkit-keyframes move {
    from {
        z-index: 10;
    }
    to {
        z-index: 0;
    }
}

.loading-gif {
    height: 150px;
}

.top-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    display: block;
    width: 50px;
}

.top-logo img {
    width: 100%;
}

.menu-button {
    position: fixed;
    top: 29px;
    right: 18px;
    z-index: 3;
    display: block;
    width: 28px;
    color: #000;
    text-align: center;
    font-weight: 900;
}

.menu-button img {
    width: 100%;
}

/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: -webkit-flex;
    display:         flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFF;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

/* Overlay closing cross */
.overlay .overlay-close {
    position: absolute;
    top: 19px;
    right: 24px;
    z-index: 9;
    overflow: hidden;
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
    background: url(../img/close@2x.png) no-repeat center center;
    background-size: cover;
    color: transparent;
    text-indent: 200%;
}

.overlay .overlay-close:hover {
    opacity: .6;
}
/* Menu style */
.overlay nav {
    position: relative;
    text-align: center;
    font-size: 28px;
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    margin-bottom: 21px;
}

/*.overlay nav ul li:nth-child(7){
    margin-top: 40px;
}*/
.overlay nav ul li:last-child a{
    font-size:26px;
}

.overlay nav ul li a.menulink-secret-spot{
    position: relative;
    font-size:30px;
}

.overlay nav ul li a.menulink-secret-spot:after{
    content: '';
    display: block;
    width: 95px;
    height: 25px;
    background-image: url('../img/secret-spot-logo.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12px;
    left: -8px;
}

.overlay ul li a {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
    color: #441984;
    font-weight: 900;
    -webkit-transition: color .2s;
            transition: color .2s;
}

.overlay ul li .border {
    width: 60px;
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
    margin: -22px auto 0 auto;
    height: 2px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}


.overlay ul li a .border {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px auto -4px auto;
    width: 0;
    height: 4px;
    background-color: #68FB98;
    transition: width .2s ease-out;
}


.overlay ul li a:hover{
    outline: none;
}
.overlay ul li a:focus,
.overlay ul li a:active {
    outline: none;
    color:#68FB98;
}


/* Menu Rollover */

/* Effects */
.overlay-hugeinc {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s, visibility 0s .5s;
            transition: opacity .5s, visibility 0s .5s;
}

.overlay-hugeinc.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
}

.overlay-hugeinc h1,
.overlay-hugeinc h2,
.overlay-hugeinc .adress-holder {
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
    transition-delay: .5s;
}

.overlay-hugeinc .line {
    -webkit-transition: width .2s;
            transition: width .2s;
    transition-delay: .8s;
}

.overlay-hugeinc.open h1,
.overlay-hugeinc.open h2,
.overlay-hugeinc.open .adress-holder,
.overlay-hugeinc.open .contact p,
.overlay-hugeinc.open .adress {
    opacity: 1;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
            perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: .4;
    -webkit-transition: -webkit-transform .5s, opacity .5s;
            transition:         transform .5s, opacity .5s;
    -webkit-transform: translateY(-25%) rotateX(35deg);
            transform: translateY(-25%) rotateX(35deg);
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
            transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

.bg-home {
    background: url('../img/bg-home.jpg') center center/cover no-repeat;
}

.bg-activities {
    background: url('../img/bg-activities.jpg') center center/cover no-repeat;
}

/** TRIPS **/

.bg-trips {
    background: url('../img/trips/bg-mobile.jpg') center center/cover no-repeat;
    overflow: hidden;
}
.trips-wrapper {
  height: 100%;
  overflow-y: scroll;
 -webkit-overflow-scrolling: touch;
}
.trips {
  padding-top: 180px;
  max-width: 256px;
  margin: auto;
}
.trips__title {
  font-family: "museo_sans";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 113px;
  text-align: center;
  line-height: 0.75;
  margin-bottom: 20px;
}
.trips__title span {
  display: block;
  font-size: 21px;
  font-weight: 900;
  margin-top: 10px;
  line-height: 1;
}
.trips__text {
  text-align: center;

}
.trips__text p {
  font-family: "museo_sans";
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.9px;
  line-height: 2.2;
  margin-bottom: 30px;
  text-align: left;
}
.trips__image {
  max-width: 95%;
  margin: 5px 0 40px;
  text-align: center;
  display: inline-block;
}
.trips__subtitle {
  font-family: "bebas";
  color: #ffffff;
  font-size: 38px;
}
.trips__bottom {
  padding: 60px 0 70px;
  text-align: center;
  position: relative;
}
.trips__bottom:before {
  content: '';
  background-color: #68FB98;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
  width: 89px;
  height: 3px;
}
.trips__subtitle span {
  font-size: 63px;
  display: block;
  line-height: 0.75;
}
.trips__info {
  text-align: center;
  font-family: "museo_sans";
  color: #68FB98;
  font-weight: 700;
  font-size: 10px;
  margin-top: 10px;
  display: inline-block;
}
.trips__info span {
  font-weight: 900;
  font-size: 11px;
  display: block;
  margin-top: 5px;
}
.home-content,
.contact-content,
.activities-content,
.food-drinks-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    /*z-index: 0;*/
}

.img-wrap {
    position: absolute;
    top:-15px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 84%;
    height: 76%;
    background: url('../img/bg-2-home.jpg') center center/cover no-repeat;
}

.logo {
    position: relative;
    top: -34px;
    z-index: 2;
    width: 61%;
    margin:0 auto;
}

.firma-menu {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    color: #441984;
    text-align: center;
    font-weight: 900;
    font-size: 9px;
    opacity: 0.4;
}

.food-content,
.swipeshow {
    position: relative;
    z-index: 1;
    width: 100% !important;
    height: 100% !important;
}

.food-content ul li.slide:last-child > span,
.food-content ul li.slide:last-child > span img {
    position: relative;
    display: block;
    height: 100%;
}

.food-content span img.bg{
    z-index:1;
    position: absolute;
    width:100%;
    height:100%;
}

.download-menu{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50% !important;
    bottom: 15% !important;
    text-align: center;
    z-index: 3;

}

.download-menu .line{
    margin: 0 auto;
    margin-bottom: 15px;
}
.download-menu-text{
    font-family: "museo_sans";
    font-weight:900;
    color:#ffffff;
    font-size:17px;
    line-height: 24px;
    text-transform: uppercase;

}
.download-menu-icon{
    width:70px;
    height:85px !important;
    margin: 0 auto;
    margin-top: 10px;
}



.slide > span {
    z-index: 4;
    height: 100%;
}

.slide > span,
.slide > span img {
    position: relative;
    display: block;
    height: 100%;
}

.slide div {
    position: absolute;
    bottom: 30px;
    left: 34px;
    z-index:5;
}



.food-title {
    position: absolute;
    bottom: 57px;
    left: 34px;
    z-index: 3;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-size: 30px;
}

.sombra {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

.food-title > span {
    z-index: 3;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.slide div > p {
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-size: 17px;
}

.slide div > b.line,
.activities-content > h1 > b.line {
    display: block;
    width: 37px;
    height: 2px;
    background-color: #68fb98;
}

.activities-content > h1 > b.line {
    margin-top: 15px;
}

.contact-content {
    flex-direction: column;
}

.contact-content > div {
    position: relative;
    margin: auto;
}

.contact-content > div > img {
    margin: 0 auto 12px auto;
}

.contact-content > div > img:first-of-type {
    height: 22px;
}

.contact-content > div > img:nth-of-type(2) {
    height: 17px;
}

.contact-content > div > img:nth-of-type(3) {
    height: 22px;
}

.contact-content > div > img:last-of-type {
    height: 20px;
}

.contact-content > div > p {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
}

.contact-content > div > p:last-of-type {
    font-weight: 500;
    font-size: 11px;
}

.contact-content > div > p > b {
    font-weight: 700;
}

.top-bar {
    position: absolute !important;
    left: 0;
    top: 0;
    padding: 25px 22px 22px;
}
.top-bar__link{
    position: relative;
    font-size: 13px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3px;
}
.top-bar__link:after{
    content: '';
    width: 97%;
    height: 2px;
    background-color: #66fc97;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -3px;
}
.top-bar-modal {
    position: fixed;
    width: 271px;
    left: 18px;
    top: 67px;
    z-index: 2;
    display: none;
    transform: translateY(40px);
    transition: transform .3s ease-in;
}
.top-bar-modal--open{
    transform: translateY(0px);
}
.top-bar-modal__section{
    border-radius: 10px;
    background-color: #1b1b1b;
    min-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-bar-modal__section--top{
    position: relative;
}
.top-bar-modal__section--top:before{
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    background-image: url('../img/rollover-arrow.svg');
    background-repeat: no-repeat;
    top: -10px;
    left: 32px;
    position: absolute;
    transform: rotate(180deg);
}
.top-bar-modal__section--bottom{
    position: relative;
    margin-top: 3px;
}
.top-bar-modal__title{
    font-size: 25px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}
.top-bar-modal__title strong{
    font-size: 15px;
    color: #66fb96;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 7px;
}
.top-bar-modal__view{
    font-size: 15px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.bottom-bar {
    position: absolute !important;
    right: 0;
    bottom: 32px;
    left: 0;
    text-align: center;
}

.bottom-bar a {
    display: inline-block;
    vertical-align: middle;
}

.bottom-bar a img {
    width: 100%;
}

.bottom-bar a:first-of-type {
    margin-right: 37px;
    width: 10px;
}

.bottom-bar a:nth-of-type(2) {
    margin: 0 39px;
    width: 18px;
}

.bottom-bar a:last-of-type {
    margin-left: 37px;
    width: 17px;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 33px;
    background-color: white;
    vertical-align: middle;
    opacity: .1;
}

.home-content .bottom-bar a:first-of-type {
    margin-right: 27px;
    width: 23px;
}

.home-content .bottom-bar a:nth-of-type(2) {
    margin: 0 33px;
    width: 24px;
}

.home-content .bottom-bar a:last-of-type {
    margin-left: 25px;
    width: 23px;
    height:25px;
}

.contact-content .bottom-bar a:first-of-type {
    width: 24px;
    margin-right: 28px;
}

.contact-content .bottom-bar a:nth-of-type(2) {
    margin: 0 32px;
    width: 24px;
}

.contact-content .bottom-bar a:last-of-type {
    margin-left: 25px;
    width: 24px;
    height:25px;
}

.bottom-bar.bottom-bar--social{
    bottom: 40px;
}

.bottom-bar-modal{
    position: fixed;
    width: 271px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 80px;
    z-index: 2;
    display:none;
    transform: translateY(40px);
    transition: transform .3s ease-in;
}

.bottom-bar-modal--open{
    transform: translateY(0);
}

.bottom-bar-modal a{
    display: block;
}

.bottom-bar-modal__section{
    border-radius: 10px;
    background-color: #1b1b1b;
    min-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-bar-modal--locations .bottom-bar-modal__section {
    padding-top: 23px;
    padding-bottom: 21px;
}

.bottom-bar-modal__section--bottom{
    position: relative;
    margin-top: 3px;
}

.bottom-bar-modal__section--bottom:before{
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    background-image: url('../img/rollover-arrow.svg');
    background-repeat: no-repeat;
    bottom: -10px;
    position: absolute;
}

.bottom-bar-modal--phones .bottom-bar-modal__section--bottom:before{
    left: 30px;
}

.bottom-bar-modal--locations .bottom-bar-modal__section--bottom:before{
    left: 0;
    right: 0;
    margin: auto;
}

.bottom-bar-modal__title{
    font-size: 25px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 5px;
}

.bottom-bar-modal__title strong{
    font-size: 15px;
    color: #66fb96;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 7px;
}

.bottom-bar-modal__phone{
    font-size: 25px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 300;
}

.bottom-bar-modal__location{
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.bottom-bar-modal__link{
    font-size: 12px;
    color: #66fb96;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 700;
}

.contact-content__address{
    position: relative;
    text-align: center;
    padding: 50px 45px 40px;
}

.contact-content__address:last-child{
    padding: 40px 45px 80px;
}

.contact-content__address:last-child:before{
    content: '';
    display: block;
    position: absolute;
    width: 75%;
    height: 1px;
    background-color: #fff;
    opacity: .2;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contact-content__address-info{
    margin-bottom: 18px;
}

.contact-content__address-info h2{
    font-size: 24px;
    color: #fff;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 12px;
}

.contact-content__address-info strong{
    font-size: 15px;
    color: #66fb96;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 7px;
}

.contact-content__address-info p, .contact-content__address-info a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
}

.contact-content__address-schedule p{
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    margin: 0 -20px;
}

.contact-content__address-schedule strong{
    font-weight: 700;
}

/** FOOD & DRINKS**/
.food-drinks-content{
    background: url('../img/bg-food-drinks.jpg') center center/cover no-repeat;
    flex-direction: column;
    text-align: center;
    bottom: 0px !important;
    left: 0px !important;
}

.food-drinks-content h2{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 25px;
    padding-top: 12px;
}

.food-drinks-content h2:before{
    content: '';
    display: block;
    position: absolute;
    width: 37px;
    height: 2px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #68fb98;
}

.food-drinks__menus{
    display: flex;
    padding-bottom: 33px;
    bottom: auto !important;
    left: auto !important;
    position: relative !important;
}

.food-drinks__menu{
    text-align: center;
    margin: 0 36px;
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
}

.food-drinks__menus a:first-child .food-drinks__menu:after{
    content: '';
    display: block;
    width: 1px;
    height: 55%;
    background-color: #fff;
    opacity: .2;
    position: absolute;
    top: 15px;
    right: -36px;
    margin: auto;
}

.food-drinks__menu img{
    width: 38px;
    margin: 0 auto 15px;
}

.food-drinks__menu h3{
    color: #fff;
    font-size: 19px;
    line-height: 13px;
    font-weight: 900;
}

.food-drinks__menu h3 span{
    font-size: 12px;
    font-weight: 700;
    color: #68fb98;
}

/** SECRET SPOT **/

.bg-secretspot {
    background: url('../img/bg-mobile-secretspot.jpg') center center/cover no-repeat;
    overflow: hidden;
}

.secretspot-wrapper{
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.secretspot{
    padding: 170px 60px 36px;
    max-width: 256px;
    margin: auto;
}

.secretspot__title{
    font-size: 102px;
    font-weight: 900;
    color: #fff;
    position: relative;
    margin-bottom: 52px;
    display: inline-block;
}

.secretspot__title:after{
    content: '';
    display: block;
    position: absolute;
    width: 245px;
    height: 72px;
    background-image: url('../img/secret-spot-logo.svg');
    background-repeat: no-repeat;
    bottom: -25px;
    right: -75px;
}

.secretspot__text{
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    line-height: 29px;
    letter-spacing: 1.3px;
}

.secretspot__text p{
    margin-bottom: 30px;
}

.secretspot__text p:last-child{
    margin-bottom: 5px;
}

.secretspot__image{
    width: 100%;
    margin-bottom: 44px;
}

.secretspot__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.secretspot__menu a{
    margin: 0 10px;
}

.secretspot__menu img{
    width: 17px;
}

.secretspot__menu p{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.secretspot__menu--alt{
    margin-bottom: 70px;
    margin-top: 20px;
}

.secretspot__bottom{
    position: relative;
    text-align: center;
    padding-top: 25px;
    max-width: 260px;
    margin: 0 auto;
}

.secretspot__bottom:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 3px;
    background-color: #68fb98;
}

.secretspot__bottom h2{
    color: #fff;
    font-size: 38px;
    font-family: bebas;
    font-weight: 400;
    text-transform: uppercase;
}

.secretspot__bottom h2 span{
    color: #fff;
    font-size: 52px;
    font-family: bebas;
    font-weight: 400;
    text-transform: uppercase;
}

.secretspot__info{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 3px;
}

.secretspot__info a{
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #68FB98;
    position: relative;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: .5px;
}

.secretspot__info span{
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0;
}

.secretspot__info img{
    width: 17px;
}

/** ACTIVITIES **/

.activities-content {
    display: block;
    overflow: hidden;
}

.activities-content > h1 {
    position: absolute;
    bottom: 29px;
    left: 34px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-size: 30px;
}

.activitie {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    width: 303px;
    height: 100%;
    vertical-align: top;
}

.today-activity {
    position: absolute;
    top: -30px;
    right: 0;
    color: #68FB98;
    font-weight: 400;
    font-size: 18px;
    font-family: bebas;
    line-height: 28px;
}

.line-today {
    display: inline-block;
    width: 97px;
    height: 2px;
    background-color: #68FB98;
    vertical-align: middle;
}

.activities-content > div:nth-of-type(3) > h1 {
    position: absolute;
    bottom: 25px;
    left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 77px;
    opacity: .05;
}

.activities-content > div:nth-of-type(3) > h1 > span {
    position: relative;
    top: -12px;
    display: block;
    font-weight: 900;
    font-size: 50px;
}

.activitie > div {
    width: 100%;
}

.activitie > div:first-of-type {
    margin-bottom: 2px;
    max-height: 150px;
    height: calc(100% - 213px);
    background-color: white;
}

.activitie > div > div:first-of-type {
    display: inline-block;
    margin-right: 2px;
    width: 50px;
    vertical-align: top;
}

.activitie > div > div:first-of-type img {
    position: relative;
    top: 50%;
    margin: auto;
    height: 100%;
    line-height: 50px;
    transform: translate3d(0, -50%, 0);
}

.activitie > div > div:first-of-type > div:not(:first-of-type) img {
    width: 60%;
    height: auto;
}

.activitie > div > div:first-of-type > div {
    margin-bottom: 2px;
    width: 100%;
    height: 50px;
    background-color: #441984;
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
}

.activitie > div > div:last-of-type {
    display: inline-block;
    width: 251px;
    height: 213px;
    vertical-align: top;
}

.activitie > div > div:last-of-type > div:first-of-type {
    overflow: auto;
    margin-bottom: 2px;
    height: 160px;
    background-color: #441984;
    color: white;
}

.activitie > div > div:last-of-type > div:first-of-type h1 {
    position: relative;
    margin: 20px auto 5px auto;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
}

.activitie > div > div:last-of-type > div:first-of-type p {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.activitie > div > div:last-of-type > div:first-of-type span {
    position: relative;
    display: block;
    margin: 12px auto 12px auto;
    width: 180px;
    height: 2px;
    background-color: #68FB98;
}

.activitie > div > div:last-of-type > div:first-of-type h2 {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}




.activitie > div > div > div.scheduled,
.activitie > div > div > a.booking,
.activitie > div > div > a.more-info {
    display: inline-block;
    padding: 0 16px 0 14px;
    margin-left:-2px;
    width: auto !important;
    height: 30px;
    background-color: #441984;
    color: #68FB98;
    font-size: 17px;
    line-height: 30px;
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 700 !important;
    font-size: 11px;


}

.activitie > div > div > div.scheduled{
    margin-left:0;
}

.activitie > div > div > div.scheduled a,
.activitie > div > div > a.booking,
.activitie > div > div > a.more-info{
    font-weight: 700 !important;
}

.activitie > div > div > div.scheduled span,
.activitie > div > div > a.booking span,
.activitie > div > div > a.more-info span{
    display: inline-block;
    margin-top:1px;
}

.activitie > div > div > div.scheduled img,
.activitie > div > div > a.booking img,
.activitie > div > div > a.more-info img {
    display: inline-block;
    margin-right: 7px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -2px;


}
.activitie > div > div > a.booking img{
    height: 12px;
    width:17px;
}

.activitie > div > div > a.more-info img{
  height: 12px;
  width: 5px;

}

.activitie > div > div > div.scheduled p,
.activitie > div > div > a.booking p,
.activitie > div > div > a.more-info p {
    display: inline-block;
    margin-top: -1px;

}


.beach-workout > div:first-of-type {
    background: url("../../img/activities/beach-workout.jpg") center center/cover;
}

.ladies-night > div:first-of-type {
    background: url("../../img/activities/ladies-night.jpg") center center/cover;
}

.shb-running > div:first-of-type {
    background: url("../../img/activities/shb-running.jpg") center center/cover;
}

.moritz-bucket > div:first-of-type {
    background: url("../../img/activities/moritz-bucket.jpg") center center/cover;
}

.paddle-surf > div:first-of-type {
    background: url("../../img/activities/paddle-surf.jpg") center center/cover;
}

.lecucut > div:first-of-type {
    background: url("../../img/activities/lecucut.jpg") center center/cover;
}

.beach-cleaning > div:first-of-type {
    background: url("../../img/activities/beach-cleaning.jpg") center center/cover;
}

.wine-night > div:first-of-type {
    background: url("../../img/activities/wine-night.jpg") center center/cover;
}

.pukas-lessons > div:first-of-type {
    background: url("../../img/activities/pukas-lessons.jpg") center center/cover;
}

.train-chill > div:first-of-type {
    background: url("../../img/activities/train-chill.jpg") center center/cover;
}

.mojito-time > div:first-of-type {
    background: url("../../img/activities/mojito-time.jpg") center center/cover;
}

.happy-nachos > div:first-of-type {
    background: url("../../img/activities/nachos.jpg") center center/cover;
}

.paddle-boards > div:first-of-type {
    background: url("../../img/activities/paddle-boards.jpg") center center/cover;
}

.volley > div:first-of-type {
    background: url("../../img/activities/volley@2x.jpg") center center/cover;
}

.wake > div:first-of-type {
    background: url("../../img/activities/wake@2x.jpg") center center/cover;
}

.wsports > div:first-of-type {
    background: url("../../img/activities/wsports@2x.jpg") center center/cover;
}

.yoga > div:first-of-type {
    background: url("../../img/activities/yoga@2x.jpg") center center/cover;
}

.beach-yoga > div:first-of-type {
    background: url("../../img/activities/beach-yoga.jpg") center center/cover;
}

.fries > div:first-of-type {
    background: url("../../img/activities/fries.jpg") center center/cover;
}

.chocolate > div:first-of-type {
    background: url("../../img/activities/chocolate.jpg") center center/cover;
}

.merienda > div:first-of-type {
    background: url("../../img/activities/merienda.jpg") center center/cover;
}

.live-music > div:first-of-type {
    background: url("../../img/activities/live-music.jpg") center center/cover;
}

/* PACKS
.magali > div:first-of-type {
    background: url("../../img/activities/magali.jpg") center center/cover;
}*/

.surfers-workout > div:first-of-type {
    background: url("../../img/activities/surfers-workout.jpg") center center/cover;
}
/* PACKS
.pack-karts > div:first-of-type {
    background: url("../../img/activities/pack-karts.jpg") center center/cover;
}

.pack-jet-ski > div:first-of-type {
    background: url("../../img/activities/pack-jet-ski.jpg") center center/cover;
}

.pack-water-day > div:first-of-type {
    background: url("../../img/activities/pack-water-day.jpg") center center/cover;
}

.pack-beach-combo > div:first-of-type {
    background: url("../../img/activities/pack-beach-combo.jpg") center center/cover;
}

.pack-sailing > div:first-of-type {
    background: url("../../img/activities/pack-sailing.jpg") center center/cover;
}

.pack-private > div:first-of-type {
    background: url("../../img/activities/pack-private.jpg") center center/cover;
}*/

.shb-trips > div:first-of-type {
    background: url("../../img/activities/shb-trips.jpg") center center/cover;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    cursor: pointer;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
}

.msg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-home--shop .msg img{
    width: 375px;
    height: 405px;
}

.popup-home--closed .msg{
    width: 320px;
    height: 520px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.popup-home--closed .msg img{
    width: 320px;
    height: 520px;
}

.popup-close {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 27px;
    right: 20px;
    background-image: url('../img/close-popup_shop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.popup-home--closed .popup-close{
    background-color: #3b3b3b;
    background-size: 45%;
    border-radius: 50%;
    top: -45px;
    right: -5px;
    width: 32px;
    height: 32px;
}

/*body.loaded #popup {
    animation-name: showPopup;
    animation-duration: .3s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}*/

.popup.is-visible {
    animation-name: showPopup;
    animation-duration: .3s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    visibility: visible;
}

@keyframes showPopup {
    from {
        z-index: 9;
        opacity: 0;
    }
    to {
        z-index: 9;
        opacity: 1;
    }
}

@-webkit-keyframes showPopup {
    from {
        z-index: 9;
        opacity: 0;
    }
    to {
        z-index: 9;
        opacity: 1;
    }
}


@media only screen and (min-width: 1920px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .bg-trips {
        background: url('../img/trips/bg-mobile@2x.jpg') center center/cover no-repeat;
    }
    .beach-workout > div:first-of-type {
        background: url("../../img/activities/beach-workout@2x.jpg") center center/cover;
    }

    .ladies-night > div:first-of-type {
        background: url("../../img/activities/ladies-night@2x.jpg") center center/cover;
    }

    .shb-running > div:first-of-type {
        background: url("../../img/activities/shb-running@2x.jpg") center center/cover;
    }

    .moritz-bucket > div:first-of-type {
        background: url("../../img/activities/moritz-bucket@2x.jpg") center center/cover;
    }

    .paddle-surf > div:first-of-type {
        background: url("../../img/activities/paddle-surf@2x.jpg") center center/cover;
    }

    .lecucut > div:first-of-type {
        background: url("../../img/activities/lecucut@2x.jpg") center center/cover;
    }

    .beach-cleaning > div:first-of-type {
        background: url("../../img/activities/beach-cleaning@2x.jpg") center center/cover;
    }

    .wine-night > div:first-of-type {
        background: url("../../img/activities/wine-night@2x.jpg") center center/cover;
    }
    .mojito-time > div:first-of-type {
        background: url("../../img/activities/mojito-time@2x.jpg") center center/cover;
    }
    .happy-nachos > div:first-of-type {
        background: url("../../img/activities/nachos@2x.jpg") center center/cover;
    }
    .paddle-surf > div:first-of-type {
        background: url("../../img/activities/paddle-boards@2x.jpg") center center/cover;
    }
    .volley > div:first-of-type {
    background: url("../../img/activities/volley@2x.jpg") center center/cover;
    }

    .chocolate > div:first-of-type {
    background: url("../../img/activities/chocolate@2x.jpg") center center/cover;
    }

    .merienda > div:first-of-type {
    background: url("../../img/activities/merienda@2x.jpg") center center/cover;
    }

    .live-music > div:first-of-type {
    background: url("../../img/activities/live-music@2x.jpg") center center/cover;
    }

	.magali > div:first-of-type {
    background: url("../../img/activities/magali@2x.jpg") center center/cover;
    }

	.surfers-workout > div:first-of-type {
    background: url("../../img/activities/surfers-workout@2x.jpg") center center/cover;
    }

	.wake > div:first-of-type {
	    background: url("../../img/activities/wake@2x.jpg") center center/cover;
	}

	.wsports > div:first-of-type {
	    background: url("../../img/activities/wsports@2x.jpg") center center/cover;
	}

	.yoga > div:first-of-type {
	    background: url("../../img/activities/yoga@2x.jpg") center center/cover;
	}

	.beach-yoga > div:first-of-type {
	    background: url("../../img/activities/beach-yoga@2x.jpg") center center/cover;
	}

	.fries > div:first-of-type {
	    background: url("../../img/activities/fries@2x.jpg") center center/cover;
	}

	.pack-karts > div:first-of-type {
    background: url("../../img/activities/pack-karts@2x.jpg") center center/cover;
	}

	.pack-jet-ski > div:first-of-type {
	    background: url("../../img/activities/pack-jet-ski@2x.jpg") center center/cover;
	}

	.pack-water-day > div:first-of-type {
	    background: url("../../img/activities/pack-water-day@2x.jpg") center center/cover;
	}

	.pack-beach-combo > div:first-of-type {
	    background: url("../../img/activities/pack-beach-combo@2x.jpg") center center/cover;
	}

	.pack-sailing > div:first-of-type {
	    background: url("../../img/activities/pack-sailing@2x.jpg") center center/cover;
	}

	.pack-private > div:first-of-type {
	    background: url("../../img/activities/pack-private@2x.jpg") center center/cover;
	}

	.shb-trips > div:first-of-type {
	    background: url("../../img/activities/shb-trips@2x.jpg") center center/cover;
	}

    .bg-secretspot{
        background: url('../img/bg-mobile-secretspot@2x.jpg') center center/cover no-repeat;
    }

}

#activities-carousel{
    position: relative;
    top: 12%;
    overflow: hidden;
    padding-left: 10%;
    min-height: 160px;
    max-height: 465px;
    width: 100%;
    height: 68.569715142%;
    border-radius: 0;
}

#activities-carousel .handle{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10%;
    min-width: 100%;
    width: 200%;
    height: 100%;
    border-radius: 0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.active .handle {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}

#activities-carousel .handle .page {
    position: relative;
    margin-top: 35px;
    height: calc(100% - 0px);
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-height: 540px) {
.overlay nav {
    position: relative;
    text-align: center;
    font-size: 26px;
    padding-top: 30px;
}
.overlay ul li {
    display: block;
    margin-bottom: 5px;
}
.overlay nav ul li:last-child{
    margin-top: 35px;
}
.overlay nav ul li:last-child a{
    font-size:22px !important;
}
#activities-carousel .handle .page {
    position: relative;
    margin-top: 5px;

}
.activitie {
    height: 106%;


}
}
